In [129]:
import re
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

url="./Downloads/ml-100k/ml-100k/" #데이터가 들어있는 경로

path_data=url+"u.data"
path_item=url+"u.item"
path_occupation=url+"u.occupation"
path_user=url+"u.user"

data=[]
genre=['unknown','Action','Adventure','Animation','Children\'s','Comedy','Crime','Documentary','Drama','Fantasy','Film-Noir','Horror','Musical','Mystery','Romance','Sci-Fi','Thriller','War','Western']
item=[]
occupation=[]
user=[]

f_item=open(path_item,mode="r",encoding="ISO-8859-1")
f_data=open(path_data,mode="r",encoding="utf-8")
f_user=open(path_user,mode="r",encoding="utf-8")
f_occupation=open(path_occupation,mode="r",encoding="utf-8")

line=f_data.readline()
while line:
    line=line.rstrip("\n")
    line=line.split('\t')
    data.append(line)
    line=f_data.readline()


line=f_item.readline()
while line:
    line=line.rstrip("\n")
    line=re.split('[|||]',line)
    item.append(line)
    line=f_item.readline()
    
line=f_user.readline()
while line:
    line=line.rstrip("\n")
    line=line.split('|')
    user.append(line)
    line=f_user.readline()
    
line=f_occupation.readline()
while line:
    line=line.rstrip("\n")
    occupation.append(line)
    line=f_occupation.readline()
    

    
f_data.close()
f_item.close()
f_user.close()
f_occupation.close()

df_data=pd.DataFrame(np.array(data),columns=['user id','item id','rating','timestamp'])
df_item=pd.DataFrame(np.array(item),columns=['movie id', 'movie title','release date','video release date','IMDb URL','unknown','Action','Adventure','Animation','Children\'s','Comedy','Crime','Documentary','Drama','Fantasy','Film-Noir','Horror','Musical','Mystery','Romance','Sci-Fi','Thriller','War','Western'])
df_user=pd.DataFrame(np.array(user),columns=['user id','age','gender','occupation','zip code'])
df_data['rating']=pd.to_numeric(df_data['rating'])

In [130]:
#2
#A
#모든 유저에서 평점(rating)의 개수가 많은 100개의 영화
list=df_data['item id'].value_counts()[:100]
s_to_df=list.reset_index()
s_to_df.columns=['movie id','count']
df_movie=df_item.loc[df_item['movie id'].isin(list.index),:'movie title']
df_movie=pd.merge(left=df_movie,right=s_to_df,how="inner",on="movie id")
df_movie.sort_values(by='count', ascending=False)

   movie id                   movie title  count
10       50              Star Wars (1977)    583
65      258                Contact (1997)    509
23      100                  Fargo (1996)    508
44      181     Return of the Jedi (1983)    507
76      294              Liar Liar (1997)    485
..      ...                           ...    ...
89      427  To Kill a Mockingbird (1962)    219
19       95                Aladdin (1992)    219
97      678                Volcano (1997)    219
2         8                   Babe (1995)    219
82      322         Murder at 1600 (1997)    218

[100 rows x 3 columns]

In [131]:
#여성의 평점(rating)의 개수가 많은 100개의 영화
f_user=df_user.loc[df_user['gender']=='F']
df_f_user=df_data.loc[df_data['user id'].isin(f_user['user id'])]
df_f_movie_id=df_f_user['item id'].value_counts()[:100]
s_to_df=df_f_movie_id.reset_index()
s_to_df.columns=['movie id','count']
df_f_movie=df_item.loc[df_item['movie id'].isin(df_f_movie_id.index),:'movie title']
df_f_movie=pd.merge(left=df_f_movie,right=s_to_df,how="inner",on="movie id")
df_f_movie.sort_values(by='count', ascending=False)

   movie id                    movie title  count
69      286    English Patient, The (1996)    152
9        50               Star Wars (1977)    151
70      288                  Scream (1996)    143
72      294               Liar Liar (1997)    141
60      258                 Contact (1997)    137
..      ...                            ...    ...
41      183                   Alien (1979)     56
18       83  Much Ado About Nothing (1993)     55
93      483              Casablanca (1942)     55
4        14             Postino, Il (1994)     55
39      176                  Aliens (1986)     55

[100 rows x 3 columns]

In [132]:
#남성의 평점(rating)의 개수가 많은 100개의 영화
m_user=df_user.loc[df_user['gender']=='M']
df_m_user=df_data.loc[df_data['user id'].isin(m_user['user id'])]
df_m_movie_id=df_m_user['item id'].value_counts()[:100]
s_to_df=df_m_movie_id.reset_index()
s_to_df.columns=['movie id','count']
df_m_movie=df_item.loc[df_item['movie id'].isin(df_m_movie_id.index),:'movie title']
df_m_movie=pd.merge(left=df_m_movie,right=s_to_df,how="inner",on="movie id")
df_m_movie.sort_values(by='count', ascending=False)

   movie id                         movie title  count
10       50                    Star Wars (1977)    432
21      100                        Fargo (1996)    383
42      181           Return of the Jedi (1983)    383
65      258                      Contact (1997)    372
77      294                    Liar Liar (1997)    344
..      ...                                 ...    ...
82      323                 Dante's Peak (1997)    167
93      508  People vs. Larry Flynt, The (1996)    165
96      655                  Stand by Me (1986)    165
97      678                      Volcano (1997)    165
1         4                   Get Shorty (1995)    164

[100 rows x 3 columns]

In [133]:
#직업의 평점(rating)의 개수가 많은 100개의 영화
for i in occupation:
    occ=df_user.loc[df_user['occupation']==i]
    df_occ=df_data.loc[df_data['user id'].isin(occ['user id'])]
    df_occ_movie_id=df_occ['item id'].value_counts()[:100]
    s_to_df=df_occ_movie_id.reset_index()
    s_to_df.columns=['movie id','count']
    df_occ_movie=df_item.loc[df_item['movie id'].isin(df_occ_movie_id.index),:'movie title']
    df_occ_movie=pd.merge(left=df_occ_movie,right=s_to_df,how="inner",on="movie id")
    df_occ_movie=df_occ_movie.sort_values(by='count', ascending=False)
    print(i+"별 상위 100개")
    print(df_occ_movie)

administrator별 상위 100개
   movie id                    movie title  count
72      286    English Patient, The (1996)     47
9        50               Star Wars (1977)     44
40      181      Return of the Jedi (1983)     40
76      300           Air Force One (1997)     38
64      258                 Contact (1997)     38
..      ...                            ...    ...
16       83  Much Ado About Nothing (1993)     18
96      597                  Eraser (1996)     18
4        14             Postino, Il (1994)     18
3        12     Usual Suspects, The (1995)     18
99      660    Fried Green Tomatoes (1991)     18

[100 rows x 3 columns]
artist별 상위 100개
   movie id                                movie title  count
7        50                           Star Wars (1977)     18
67      294                           Liar Liar (1997)     16
39      181                  Return of the Jedi (1983)     16
58      258                             Contact (1997)     15
20      100                               Fargo (1996)     14
..      ...                                        ...    ...
28      143                 Sound of Music, The (1965)      6
80      427               To Kill a Mockingbird (1962)      6
42      186                 Blues Brothers, The (1980)      6
30      150                            Swingers (1996)      6
50      210  Indiana Jones and the Last Crusade (1989)      6

[100 rows x 3 columns]
doctor별 상위 100개
   movie id                                movie title  count
65      313                             Titanic (1997)      5
54      286                English Patient, The (1996)      5
59      300                       Air Force One (1997)      5
93      742                              Ransom (1996)      4
15      100                               Fargo (1996)      4
..      ...                                        ...    ...
34      210  Indiana Jones and the Last Crusade (1989)      2
99     1016                             Con Air (1997)      2
62      304                       Fly Away Home (1996)      1
97      820                           Space Jam (1996)      1
98      903                           Afterglow (1997)      1

[100 rows x 3 columns]
educator별 상위 100개
   movie id                                   movie title  count
68      286                   English Patient, The (1996)     61
19      100                                  Fargo (1996)     54
9        50                              Star Wars (1977)     50
61      258                                Contact (1997)     45
25      127                         Godfather, The (1972)     43
..      ...                                           ...    ...
76      313                                Titanic (1997)     22
4        13                       Mighty Aphrodite (1995)     22
94      523                         Cool Hand Luke (1967)     22
50      209                     This Is Spinal Tap (1984)     22
30      151  Willy Wonka and the Chocolate Factory (1971)     21

[100 rows x 3 columns]
engineer별 상위 100개
   movie id                      movie title  count
9        50                 Star Wars (1977)     50
0         1                 Toy Story (1995)     46
23      100                     Fargo (1996)     45
38      174   Raiders of the Lost Ark (1981)     44
44      181        Return of the Jedi (1983)     44
..      ...                              ...    ...
92      527                    Gandhi (1982)     20
58      215           Field of Dreams (1989)     20
94      566  Clear and Present Danger (1994)     20
97      655               Stand by Me (1986)     20
99      742                    Ransom (1996)     20

[100 rows x 3 columns]
entertainment별 상위 100개
   movie id                           movie title  count
51      258                        Contact (1997)     13
61      288                         Scream (1996)     13
66      302              L.A. Confidential (1997)     12
0         1                      Toy Story (1995)     11
19      100                          Fargo (1996)     11
..      ...                                   ...    ...
67      303                    Ulee's Gold (1997)      5
69      305                 Ice Storm, The (1997)      5
39      199  Bridge on the River Kwai, The (1957)      5
16       93       Welcome to the Dollhouse (1995)      5
99     1012                  Private Parts (1997)      5

[100 rows x 3 columns]
executive별 상위 100개
   movie id                           movie title  count
50      258                        Contact (1997)     22
63      294                      Liar Liar (1997)     21
47      237                  Jerry Maguire (1996)     19
71      322                 Murder at 1600 (1997)     18
60      286           English Patient, The (1996)     18
..      ...                                   ...    ...
78      423     E.T. the Extra-Terrestrial (1982)      8
46      234                           Jaws (1975)      8
75      347                    Wag the Dog (1997)      8
70      321                         Mother (1996)      8
99      988  Beautician and the Beast, The (1997)      8

[100 rows x 3 columns]
healthcare별 상위 100개
   movie id                         movie title  count
32      181           Return of the Jedi (1983)     11
63      300                Air Force One (1997)     11
8        50                    Star Wars (1977)     11
23      127               Godfather, The (1972)     10
59      288                       Scream (1996)     10
..      ...                                 ...    ...
69      318             Schindler's List (1993)      5
70      323                 Dante's Peak (1997)      5
12       70  Four Weddings and a Funeral (1994)      5
73      385                    True Lies (1994)      5
99      845           That Thing You Do! (1996)      5

[100 rows x 3 columns]
homemaker별 상위 100개
   movie id                movie title  count
78      748          Saint, The (1997)      6
54      328   Conspiracy Theory (1997)      6
38      300       Air Force One (1997)      6
49      322      Murder at 1600 (1997)      5
72      678             Volcano (1997)      5
..      ...                        ...    ...
20      225      101 Dalmatians (1996)      1
19      204  Back to the Future (1985)      1
76      713             Othello (1995)      1
16      150            Swingers (1996)      1
99     1296       Indian Summer (1996)      1

[100 rows x 3 columns]
lawyer별 상위 100개
   movie id                             movie title  count
58      286             English Patient, The (1996)      9
52      269                  Full Monty, The (1997)      9
50      258                          Contact (1997)      8
61      294                        Liar Liar (1997)      8
7        50                        Star Wars (1977)      8
..      ...                                     ...    ...
81      485                     My Fair Lady (1964)      3
3        11                    Seven (Se7en) (1995)      3
79      480               North by Northwest (1959)      3
10       67       Ace Ventura: Pet Detective (1994)      3
17       99  Snow White and the Seven Dwarfs (1937)      3

[100 rows x 3 columns]
librarian별 상위 100개
   movie id                                  movie title  count
61      286                  English Patient, The (1996)     35
9        50                             Star Wars (1977)     28
70      313                               Titanic (1997)     27
55      269                       Full Monty, The (1997)     26
21      100                                 Fargo (1996)     26
..      ...                                          ...    ...
10       52           Madness of King George, The (1994)     12
68      306  Mrs. Brown (Her Majesty, Mrs. Brown) (1997)     12
94      588                  Beauty and the Beast (1991)     12
41      194                            Sting, The (1973)     12
99      748                            Saint, The (1997)     12

[100 rows x 3 columns]
marketing별 상위 100개
   movie id                          movie title  count
54      258                       Contact (1997)     18
61      286          English Patient, The (1996)     17
66      300                 Air Force One (1997)     16
65      294                     Liar Liar (1997)     15
78      328             Conspiracy Theory (1997)     14
..      ...                                  ...    ...
22      134                  Citizen Kane (1941)      5
25      150                      Swingers (1996)      5
30      173           Princess Bride, The (1987)      5
40      187       Godfather: Part II, The (1974)      5
23      136  Mr. Smith Goes to Washington (1939)      5

[100 rows x 3 columns]
none별 상위 100개
   movie id                         movie title  count
46      258                      Contact (1997)      7
0         1                    Toy Story (1995)      6
34      222     Star Trek: First Contact (1996)      6
54      300                Air Force One (1997)      6
53      294                    Liar Liar (1997)      6
..      ...                                 ...    ...
91      833                  Bulletproof (1996)      2
74      508  People vs. Larry Flynt, The (1996)      2
23      122               Cable Guy, The (1996)      2
65      411         Nutty Professor, The (1996)      2
99     1231             Marked for Death (1990)      2

[100 rows x 3 columns]
other별 상위 100개
   movie id                  movie title  count
9        50             Star Wars (1977)     62
73      300         Air Force One (1997)     58
70      288                Scream (1996)     56
72      294             Liar Liar (1997)     55
69      286  English Patient, The (1996)     55
..      ...                          ...    ...
27      124             Lone Star (1996)     23
79      321                Mother (1996)     23
31      143   Sound of Music, The (1965)     23
53      235         Mars Attacks! (1996)     23
97      603           Rear Window (1954)     23

[100 rows x 3 columns]
programmer별 상위 100개
   movie id                     movie title  count
11       50                Star Wars (1977)     50
23      100                    Fargo (1996)     47
42      181       Return of the Jedi (1983)     44
38      174  Raiders of the Lost Ark (1981)     42
76      294                Liar Liar (1997)     37
..      ...                             ...    ...
47      188        Full Metal Jacket (1987)     18
62      226               Die Hard 2 (1990)     18
97      654                Chinatown (1974)     18
52      197            Graduate, The (1967)     18
55      203               Unforgiven (1992)     17

[100 rows x 3 columns]
retired별 상위 100개
   movie id                   movie title  count
16      100                  Fargo (1996)     10
62      294              Liar Liar (1997)      9
7        50              Star Wars (1977)      8
19      127         Godfather, The (1972)      8
44      237          Jerry Maguire (1996)      8
..      ...                           ...    ...
51      272      Good Will Hunting (1997)      4
52      274                Sabrina (1995)      4
53      275  Sense and Sensibility (1995)      4
61      291         Absolute Power (1997)      4
99     1028       Grumpier Old Men (1995)      4

[100 rows x 3 columns]
salesman별 상위 100개
   movie id                        movie title  count
60      294                   Liar Liar (1997)      8
64      313                     Titanic (1997)      6
67      327                    Cop Land (1997)      6
58      286        English Patient, The (1996)      6
23      121      Independence Day (ID4) (1996)      5
..      ...                                ...    ...
19      105                  Sgt. Bilko (1996)      2
54      271           Starship Troopers (1997)      2
45      234                        Jaws (1975)      2
42      219  Nightmare on Elm Street, A (1984)      2
99     1041                Forget Paris (1995)      2

[100 rows x 3 columns]
scientist별 상위 100개
   movie id                     movie title  count
13       50                Star Wars (1977)     19
23      100                    Fargo (1996)     18
70      286     English Patient, The (1996)     17
62      258                  Contact (1997)     17
43      181       Return of the Jedi (1983)     15
..      ...                             ...    ...
44      183                    Alien (1979)      6
60      250       Fifth Element, The (1997)      6
46      187  Godfather: Part II, The (1974)      6
1         4               Get Shorty (1995)      6
99      879          Peacemaker, The (1997)      6

[100 rows x 3 columns]
student별 상위 100개
   movie id                                        movie title  count
72      288                                      Scream (1996)    137
11       50                                   Star Wars (1977)    132
42      181                          Return of the Jedi (1983)    121
74      294                                   Liar Liar (1997)    117
63      258                                     Contact (1997)    117
..      ...                                                ...    ...
78      302                           L.A. Confidential (1997)     48
54      230               Star Trek IV: The Voyage Home (1986)     48
58      238                             Raising Arizona (1987)     48
77      301                                    In & Out (1997)     47
60      249  Austin Powers: International Man of Mystery (1...     47

[100 rows x 3 columns]
technician별 상위 100개
   movie id                    movie title  count
8        50               Star Wars (1977)     22
41      181      Return of the Jedi (1983)     19
24      121  Independence Day (ID4) (1996)     18
20      100                   Fargo (1996)     18
0         1               Toy Story (1995)     17
..      ...                            ...    ...
23      118                 Twister (1996)      9
74      260           Event Horizon (1997)      9
72      257            Men in Black (1997)      9
61      226              Die Hard 2 (1990)      9
68      238         Raising Arizona (1987)      9

[100 rows x 3 columns]
writer별 상위 100개
   movie id                      movie title  count
67      288                    Scream (1996)     27
17      100                     Fargo (1996)     27
10       50                 Star Wars (1977)     27
33      181        Return of the Jedi (1983)     25
66      286      English Patient, The (1996)     25
..      ...                              ...    ...
65      285            Secrets & Lies (1996)     12
70      298                  Face/Off (1997)     12
99      748                Saint, The (1997)     12
75      319  Everyone Says I Love You (1996)     11
8        25             Birdcage, The (1996)     11

[100 rows x 3 columns]

In [134]:
#B
#모든 유저에서 평점(rating)의 평균이 높은 100개의 영화
list=df_data[['item id','rating']]
list=list.groupby(['item id']).mean()
df_movie_id=list.sort_values(by='rating',ascending=False)[:100]
df_movie_id.index.name="movie id"

df_movie=df_item.loc[df_item['movie id'].isin(df_movie_id.index),:'movie title']
df_movie=pd.merge(left=df_movie,right=df_movie_id,how="inner",on="movie id")
df_movie=df_movie.sort_values(by='rating', ascending=False)
df_movie

   movie id                                        movie title    rating
99     1653  Entertaining Angels: The Dorothy Day Story (1996)  5.000000
72      814                      Great Day in Harlem, A (1994)  5.000000
96     1599                      Someone Else's America (1995)  5.000000
78     1122                     They Made Me a Criminal (1939)  5.000000
81     1189                                 Prefontaine (1997)  5.000000
..      ...                                                ...       ...
70      659                        Arsenic and Old Lace (1944)  4.078261
13      132                           Wizard of Oz, The (1939)  4.077236
67      651                                       Glory (1989)  4.076023
18      168             Monty Python and the Holy Grail (1974)  4.066456
83     1194                          Once Were Warriors (1994)  4.064516

[100 rows x 3 columns]

In [140]:
#여성의 평점(rating)의 평균이 높은 100개의 영화
list=df_f_user[['item id','rating']]
list=list.groupby(['item id']).mean()
df_movie_id=list.sort_values(by='rating',ascending=False)[:100]
df_movie_id.index.name="movie id"

df_movie=df_item.loc[df_item['movie id'].isin(df_movie_id.index),:'movie title']
df_movie=pd.merge(left=df_movie,right=df_movie_id,how="inner",on="movie id")
df_movie.sort_values(by='rating', ascending=False)

   movie id                             movie title  rating
85     1189                      Prefontaine (1997)     5.0
16      119  Maya Lin: A Strong Clear Vision (1994)     5.0
98     1599           Someone Else's America (1995)     5.0
97     1594                          Everest (1998)     5.0
96     1472   Visitors, The (Visiteurs, Les) (1993)     5.0
..      ...                                     ...     ...
59      516                       Local Hero (1983)     4.1
54      489                        Notorious (1946)     4.1
76      936                      Brassed Off (1996)     4.1
40      317        In the Name of the Father (1993)     4.1
58      515                        Boot, Das (1981)     4.1

[100 rows x 3 columns]

In [136]:
#남성의 평점(rating)의 평균이 높은 100개의 영화
list=df_m_user[['item id','rating']]
list=list.groupby(['item id']).mean()
df_movie_id=list.sort_values(by='rating',ascending=False)[:100]
df_movie_id.index.name="movie id"

df_movie=df_item.loc[df_item['movie id'].isin(df_movie_id.index),:'movie title']
df_movie=pd.merge(left=df_movie,right=df_movie_id,how="inner",on="movie id")
df_movie.sort_values(by='rating', ascending=False)

   movie id                                     movie title    rating
99     1656                              Little City (1998)  5.000000
75     1201      Marlene Dietrich: Shadow and Light (1996)   5.000000
79     1306                           Delta of Venus (1994)  5.000000
73     1191                 Letter From Death Row, A (1998)  5.000000
72     1189                              Prefontaine (1997)  5.000000
..      ...                                             ...       ...
65     1142                       When We Were Kings (1996)  4.151515
12      136             Mr. Smith Goes to Washington (1939)  4.150000
14      166  Manon of the Spring (Manon des sources) (1986)  4.146341
69     1167                           Sum of Us, The (1994)  4.142857
47      520                        Great Escape, The (1963)  4.138614

[100 rows x 3 columns]

In [141]:
#직업의 평점(rating)의 평균이 높은 100개의 영화
for i in occupation:
    occ=df_user.loc[df_user['occupation']==i]
    df_occ=df_data.loc[df_data['user id'].isin(occ['user id'])]
    
    list=df_occ[['item id','rating']]
    list=list.groupby(['item id']).mean()
    
    df_movie_id=list.sort_values(by='rating',ascending=False)[:100]
    df_movie_id.index.name="movie id"

    df_movie=df_item.loc[df_item['movie id'].isin(df_movie_id.index),:'movie title']
    df_movie=pd.merge(left=df_movie,right=df_movie_id,how="inner",on="movie id")
    print(i+"별 상위 100개")
    print(df_movie.sort_values(by='rating', ascending=False))

administrator별 상위 100개
   movie id                       movie title    rating
99     1600               Guantanamera (1994)  5.000000
87     1262        Walking and Talking (1996)  5.000000
57      923      Raise the Red Lantern (1991)  5.000000
85     1234      Chairman of the Board (1998)  5.000000
54      899          Winter Guest, The (1997)  5.000000
..      ...                               ...       ...
26      496      It's a Wonderful Life (1946)  4.470588
1        55          Professional, The (1994)  4.444444
5       100                      Fargo (1996)  4.444444
4        98  Silence of the Lambs, The (1991)  4.441176
16      316         As Good As It Gets (1997)  4.428571

[100 rows x 3 columns]
artist별 상위 100개
   movie id                        movie title    rating
50      506       Rebel Without a Cause (1955)  5.000000
64      616    Night of the Living Dead (1968)  5.000000
76      729                        Nell (1994)  5.000000
75      715                  To Die For (1995)  5.000000
74      707             Enchanted April (1991)  5.000000
..      ...                                ...       ...
51      512             Wings of Desire (1987)  4.600000
35      423  E.T. the Extra-Terrestrial (1982)  4.571429
29      269             Full Monty, The (1997)  4.571429
69      657   Manchurian Candidate, The (1962)  4.571429
42      484         Maltese Falcon, The (1941)  4.571429

[100 rows x 3 columns]
doctor별 상위 100개
   movie id                             movie title  rating
0        10                      Richard III (1995)     5.0
44      307            Devil's Advocate, The (1997)     5.0
79      680               Kull the Conqueror (1997)     5.0
78      612                     Lost Horizon (1937)     5.0
76      543                  Misérables, Les (1995)     5.0
..      ...                                     ...     ...
52      357  One Flew Over the Cuckoo's Nest (1975)     4.0
51      354              Wedding Singer, The (1998)     4.0
42      295                        Breakdown (1997)     4.0
41      289                            Evita (1996)     4.0
68      511               Lawrence of Arabia (1962)     4.0

[100 rows x 3 columns]
educator별 상위 100개
   movie id                                        movie title    rating
99     1598                            City of Industry (1997)  5.000000
85     1195  Strawberry and Chocolate (Fresa y chocolate) (...  5.000000
27      361                                   Incognito (1997)  5.000000
29      464                        Vanya on 42nd Street (1994)  5.000000
79     1159                                     Stalker (1979)  5.000000
..      ...                                                ...       ...
5        60                          Three Colors: Blue (1993)  4.363636
31      479                                     Vertigo (1958)  4.363636
35      506                       Rebel Without a Cause (1955)  4.363636
6        64                   Shawshank Redemption, The (1994)  4.344828
81     1166                        Love & Human Remains (1993)  4.333333

[100 rows x 3 columns]
engineer별 상위 100개
   movie id                                   movie title    rating
99     1512        World of Apu, The (Apur Sansar) (1959)  5.000000
88     1144                        Quiet Room, The (1996)  5.000000
66      611                                  Laura (1944)  5.000000
75      834  Halloween: The Curse of Michael Myers (1995)  5.000000
77      945                                Charade (1963)  5.000000
..      ...                                           ...       ...
62      527                                 Gandhi (1982)  4.150000
16      153                   Fish Called Wanda, A (1988)  4.142857
85     1073                          Shallow Grave (1994)  4.142857
0         8                                   Babe (1995)  4.142857
8        56                           Pulp Fiction (1994)  4.138889

[100 rows x 3 columns]
entertainment별 상위 100개
   movie id                                   movie title  rating
50      494                        His Girl Friday (1940)     5.0
42      434                       Forbidden Planet (1956)     5.0
70      654                              Chinatown (1974)     5.0
69      652  Rosencrantz and Guildenstern Are Dead (1990)     5.0
68      647                                    Ran (1985)     5.0
..      ...                                           ...     ...
26      192                            Raging Bull (1980)     4.5
25      189                       Grand Day Out, A (1992)     4.5
23      187                Godfather: Part II, The (1974)     4.5
72      660                   Fried Green Tomatoes (1991)     4.5
22      183                                  Alien (1979)     4.5

[100 rows x 3 columns]
executive별 상위 100개
   movie id               movie title    rating
99     1643         Angel Baby (1995)  5.000000
49      490   To Catch a Thief (1955)  5.000000
89     1041       Forget Paris (1995)  5.000000
21      165   Jean de Florette (1986)  5.000000
54      501              Dumbo (1941)  5.000000
..      ...                       ...       ...
19      157            Platoon (1986)  4.333333
66      582         Piano, The (1993)  4.333333
5        59  Three Colors: Red (1994)  4.333333
58      520  Great Escape, The (1963)  4.333333
50      492       East of Eden (1955)  4.333333

[100 rows x 3 columns]
healthcare별 상위 100개
   movie id                                        movie title  rating
99     1643                                  Angel Baby (1995)     5.0
83      898                                Postman, The (1997)     5.0
28      370                                 Mary Reilly (1996)     5.0
36      452                                      Jaws 2 (1978)     5.0
46      489                                   Notorious (1946)     5.0
..      ...                                                ...     ...
39      480                          North by Northwest (1959)     4.0
69      630                             Great Race, The (1965)     4.0
70      632                             Sophie's Choice (1982)     4.0
71      633                          Christmas Carol, A (1938)     4.0
0         6  Shanghai Triad (Yao a yao yao dao waipo qiao) ...     4.0

[100 rows x 3 columns]
homemaker별 상위 100개
   movie id                       movie title  rating
83      762            Beautiful Girls (1996)     5.0
88      873            Picture Perfect (1997)     5.0
26      222   Star Trek: First Contact (1996)     5.0
47      309                   Deceiver (1997)     5.0
61      350                     Fallen (1998)     5.0
..      ...                               ...     ...
8        98  Silence of the Lambs, The (1991)     3.0
86      847        Looking for Richard (1996)     3.0
69      539                 Mouse Hunt (1997)     3.0
17      127             Godfather, The (1972)     3.0
90      930             Chain Reaction (1996)     3.0

[100 rows x 3 columns]
lawyer별 상위 100개
   movie id                          movie title  rating
0         2                     GoldenEye (1995)     5.0
48      448                     Omen, The (1976)     5.0
73      612                  Lost Horizon (1937)     5.0
72      611                         Laura (1944)     5.0
71      609           Father of the Bride (1950)     5.0
..      ...                                  ...     ...
5        33                     Desperado (1995)     4.5
4        32                         Crumb (1994)     4.5
30      223                   Sling Blade (1996)     4.5
31      228  Star Trek: The Wrath of Khan (1982)     4.5
36      283                          Emma (1996)     4.5

[100 rows x 3 columns]
librarian별 상위 100개
   movie id                   movie title    rating
99     1656            Little City (1998)  5.000000
58      741       Last Supper, The (1995)  5.000000
91     1448     My Favorite Season (1993)  5.000000
80     1131                   Safe (1995)  5.000000
42      524    Great Dictator, The (1940)  5.000000
..      ...                           ...       ...
53      676          Crucible, The (1996)  4.285714
20      223            Sling Blade (1996)  4.285714
5        61    Three Colors: White (1994)  4.285714
68      923  Raise the Red Lantern (1991)  4.285714
16      169    Wrong Trousers, The (1993)  4.272727

[100 rows x 3 columns]
marketing별 상위 100개
   movie id                    movie title    rating
99     1394      Swept from the Sea (1997)  5.000000
93     1062  Four Days in September (1997)  5.000000
92     1024           Mrs. Dalloway (1997)  5.000000
79      736             Shadowlands (1993)  5.000000
83      856          Night on Earth (1991)  5.000000
..      ...                            ...       ...
30      197           Graduate, The (1967)  4.166667
29      196      Dead Poets Society (1989)  4.166667
6        69            Forrest Gump (1994)  4.142857
54      483              Casablanca (1942)  4.111111
39      302       L.A. Confidential (1997)  4.090909

[100 rows x 3 columns]
none별 상위 100개
   movie id                     movie title    rating
0        17      From Dusk Till Dawn (1996)  5.000000
75      751      Tomorrow Never Dies (1997)  5.000000
72      732                     Dave (1993)  5.000000
71      716    Home for the Holidays (1995)  5.000000
70      692  American President, The (1995)  5.000000
..      ...                             ...       ...
32      269          Full Monty, The (1997)  4.666667
73      739             Pretty Woman (1990)  4.666667
40      304            Fly Away Home (1996)  4.500000
19      174  Raiders of the Lost Ark (1981)  4.500000
20      176                   Aliens (1986)  4.500000

[100 rows x 3 columns]
other별 상위 100개
   movie id                                        movie title    rating
99     1653  Entertaining Angels: The Dorothy Day Story (1996)  5.000000
83     1240         Ghost in the Shell (Kokaku kidotai) (1995)  5.000000
80     1191                    Letter From Death Row, A (1998)  5.000000
79     1172                                  Women, The (1939)  5.000000
78     1128              Heidi Fleiss: Hollywood Madam (1995)   5.000000
..      ...                                                ...       ...
51      653                               Touch of Evil (1958)  4.333333
4        45                         Eat Drink Man Woman (1994)  4.333333
32      516                                  Local Hero (1983)  4.333333
18      320  Paradise Lost: The Child Murders at Robin Hood...  4.333333
70      971                                Mediterraneo (1991)  4.333333

[100 rows x 3 columns]
programmer별 상위 100개
   movie id                                        movie title    rating
50      494                             His Girl Friday (1940)  5.000000
86     1103                                       Trust (1990)  5.000000
53      543                             Misérables, Les (1995)  5.000000
55      611                                       Laura (1944)  5.000000
70      793                                    Crooklyn (1994)  5.000000
..      ...                                                ...       ...
76      923                       Raise the Red Lantern (1991)  4.250000
41      392                     Man Without a Face, The (1993)  4.250000
46      474  Dr. Strangelove or: How I Learned to Stop Worr...  4.238095
65      709                           Strictly Ballroom (1992)  4.230769
11      132                           Wizard of Oz, The (1939)  4.227273

[100 rows x 3 columns]
retired별 상위 100개
   movie id                                        movie title  rating
39      271                           Starship Troopers (1997)     5.0
65      512                             Wings of Desire (1987)     5.0
21      169                         Wrong Trousers, The (1993)     5.0
88      697                     Basketball Diaries, The (1995)     5.0
16      158                         Weekend at Bernie's (1989)     5.0
..      ...                                                ...     ...
72      527                                      Gandhi (1982)     4.0
73      530                  Man Who Would Be King, The (1975)     4.0
74      537                        My Own Private Idaho (1991)     4.0
52      474  Dr. Strangelove or: How I Learned to Stop Worr...     4.0
99     1620                              Sixth Man, The (1997)     4.0

[100 rows x 3 columns]
salesman별 상위 100개
   movie id                 movie title  rating
99     1168        Little Buddha (1993)     5.0
41      209   This Is Spinal Tap (1984)     5.0
65      340        Boogie Nights (1997)     5.0
64      329   Desperate Measures (1998)     5.0
63      318     Schindler's List (1993)     5.0
..      ...                         ...     ...
37      197        Graduate, The (1967)     4.5
35      193     Right Stuff, The (1983)     4.5
18      127       Godfather, The (1972)     4.5
4        22           Braveheart (1995)     4.5
50      248  Grosse Pointe Blank (1997)     4.5

[100 rows x 3 columns]
scientist별 상위 100개
   movie id                          movie title    rating
99     1639  Bitter Sugar (Azucar Amargo) (1996)  5.000000
43      224                      Ridicule (1996)  5.000000
91     1025               Fire Down Below (1997)  5.000000
90      961                       Orlando (1993)  5.000000
88      902             Big Lebowski, The (1998)  5.000000
..      ...                                  ...       ...
33      195               Terminator, The (1984)  4.111111
69      515                     Boot, Das (1981)  4.111111
3        22                    Braveheart (1995)  4.111111
42      222      Star Trek: First Contact (1996)  4.100000
35      200                  Shining, The (1980)  4.000000

[100 rows x 3 columns]
student별 상위 100개
   movie id                                        movie title    rating
87     1316                        Horse Whisperer, The (1998)  5.000000
89     1375                          Cement Garden, The (1993)  5.000000
68      968                      Inspector General, The (1949)  5.000000
29      341                               Critical Care (1997)  5.000000
28      320  Paradise Lost: The Child Murders at Robin Hood...  5.000000
..      ...                                                ...       ...
14      173                         Princess Bride, The (1987)  4.280488
17      199               Bridge on the River Kwai, The (1957)  4.272727
15      174                     Raiders of the Lost Ark (1981)  4.267442
42      531                                       Shine (1996)  4.259259
43      580  Englishman Who Went Up a Hill, But Came Down a...  4.250000

[100 rows x 3 columns]
technician별 상위 100개
   movie id                                        movie title    rating
0         6  Shanghai Triad (Yao a yao yao dao waipo qiao) ...  5.000000
42      359                             Assignment, The (1997)  5.000000
73      764                                If Lucy Fell (1996)  5.000000
70      652       Rosencrantz and Guildenstern Are Dead (1990)  5.000000
69      645                            Paris Is Burning (1990)  5.000000
..      ...                                                ...       ...
92     1119                      Some Kind of Wonderful (1987)  4.333333
27      223                                 Sling Blade (1996)  4.333333
14      124                                   Lone Star (1996)  4.333333
83      980                                Mother Night (1996)  4.333333
53      480                          North by Northwest (1959)  4.333333

[100 rows x 3 columns]
writer별 상위 100개
   movie id                       movie title    rating
99     1597             Romper Stomper (1992)  5.000000
91     1237                    Twisted (1996)  5.000000
59      691                  Dark City (1998)  5.000000
68      837              Meet John Doe (1941)  5.000000
69      841           Glimmer Man, The (1996)  5.000000
..      ...                               ...       ...
49      588       Beauty and the Beast (1991)  4.222222
58      657  Manchurian Candidate, The (1962)  4.222222
26      253           Pillow Book, The (1995)  4.200000
51      615              39 Steps, The (1935)  4.200000
63      750                    Amistad (1997)  4.200000

[100 rows x 3 columns]

In [51]:
#3
#A
#모든 유저에서 장르별 평점(rating)의 개수
list=df_data['item id'].value_counts()
s_to_df=list.reset_index()
s_to_df.columns=['movie id','count']
df_movie=df_item.loc[df_item['movie id'].isin(list.index)]
df_movie=pd.merge(left=df_movie,right=s_to_df,how="inner",on="movie id")
df_movie=df_movie.loc[:,'unknown':'count']


genre_count=[]

for i in range(0,19):
    list=df_movie[df_movie.iloc[:,i]=='1']
    genre_count.append([genre[i],list['count'].sum()])
df_genre_count=pd.DataFrame(np.array(genre_count),columns=['genre','count'])

df_genre_count['count']=pd.to_numeric(df_genre_count['count'])
df_genre_count.sort_values(by='count', ascending=False)

          genre  count
8         Drama  39895
5        Comedy  29832
1        Action  25589
16     Thriller  21872
14      Romance  19461
2     Adventure  13753
15       Sci-Fi  12730
17          War   9398
6         Crime   8055
4    Children's   7182
11       Horror   5317
13      Mystery   5245
12      Musical   4954
3     Animation   3605
18      Western   1854
10    Film-Noir   1733
9       Fantasy   1352
7   Documentary    758
0       unknown     10

In [12]:
#여성의 장르별 평점(rating)의 개수
df_f_user=df_data.loc[df_data['user id'].isin(f_user['user id'])]
df_f_movie_id=df_f_user['item id'].value_counts()
s_to_df=df_f_movie_id.reset_index()
s_to_df.columns=['movie id','count']
df_f_movie=df_item.loc[df_item['movie id'].isin(df_f_movie_id.index)]
df_f_movie=pd.merge(left=df_f_movie,right=s_to_df,how="inner",on="movie id")
df_movie=df_f_movie.loc[:,'unknown':'count']

genre_count=[]

for i in range(0,19):
    list=df_movie[df_movie.iloc[:,i]=='1']
    genre_count.append([genre[i],list['count'].sum()])
df_genre_count=pd.DataFrame(np.array(genre_count),columns=['genre','count'])
df_genre_count['count']=pd.to_numeric(df_genre_count['count'])
df_genre_count.sort_values(by='count', ascending=False)

          genre  count
8         Drama  11008
5        Comedy   8068
14      Romance   5858
1        Action   5442
16     Thriller   5086
2     Adventure   3141
15       Sci-Fi   2629
4    Children's   2232
17          War   2189
6         Crime   1794
12      Musical   1442
13      Mystery   1314
11       Horror   1197
3     Animation    995
10    Film-Noir    385
18      Western    371
9       Fantasy    363
7   Documentary    187
0       unknown      2

In [13]:
#남성의 장르별 평점(rating)의 개수
df_m_user=df_data.loc[df_data['user id'].isin(m_user['user id'])]
df_movie_id=df_m_user['item id'].value_counts()
s_to_df=df_movie_id.reset_index()
s_to_df.columns=['movie id','count']
df_movie=df_item.loc[df_item['movie id'].isin(df_movie_id.index)]
df_movie=pd.merge(left=df_movie,right=s_to_df,how="inner",on="movie id")
df_movie=df_movie.loc[:,'unknown':'count']

genre_count=[]

for i in range(0,19):
    list=df_movie[df_movie.iloc[:,i]=='1']
    genre_count.append([genre[i],list['count'].sum()])
df_genre_count=pd.DataFrame(np.array(genre_count),columns=['genre','count'])
df_genre_count['count']=pd.to_numeric(df_genre_count['count'])
df_genre_count.sort_values(by='count', ascending=False)

          genre  count
8         Drama  28887
5        Comedy  21764
1        Action  20147
16     Thriller  16786
14      Romance  13603
2     Adventure  10612
15       Sci-Fi  10101
17          War   7209
6         Crime   6261
4    Children's   4950
11       Horror   4120
13      Mystery   3931
12      Musical   3512
3     Animation   2610
18      Western   1483
10    Film-Noir   1348
9       Fantasy    989
7   Documentary    571
0       unknown      8

In [14]:
#직업의 장르별 평점(rating)의 개수
for i in occupation:
    occ=df_user.loc[df_user['occupation']==i]
    df_occ=df_data.loc[df_data['user id'].isin(occ['user id'])]
    df_occ_movie_id=df_occ['item id'].value_counts()
    s_to_df=df_occ_movie_id.reset_index()
    s_to_df.columns=['movie id','count']
    df_occ_movie=df_item.loc[df_item['movie id'].isin(df_occ_movie_id.index)]
    df_occ_movie=pd.merge(left=df_occ_movie,right=s_to_df,how="inner",on="movie id")
    df_movie=df_occ_movie.loc[:,'unknown':'count']
    
    genre_count=[]

    for j in range(0,19):
        list=df_movie[df_movie.iloc[:,j]=='1']
        genre_count.append([genre[j],list['count'].sum()])
    df_genre_count=pd.DataFrame(np.array(genre_count),columns=['genre','count'])
    df_genre_count['count']=pd.to_numeric(df_genre_count['count'])
    
    print(i+"의 장르별 평점(rating)의 개수")
    print(df_genre_count.sort_values(by='count', ascending=False))

administrator의 장르별 평점(rating)의 개수
          genre  count
8         Drama   3099
5        Comedy   2203
1        Action   1858
16     Thriller   1570
14      Romance   1539
2     Adventure   1020
15       Sci-Fi    942
17          War    786
6         Crime    565
4    Children's    462
11       Horror    391
13      Mystery    385
12      Musical    354
3     Animation    203
18      Western    168
10    Film-Noir    147
9       Fantasy     94
7   Documentary     48
0       unknown      0
artist의 장르별 평점(rating)의 개수
          genre  count
8         Drama    957
5        Comedy    617
1        Action    528
16     Thriller    476
14      Romance    462
2     Adventure    311
15       Sci-Fi    308
17          War    225
4    Children's    202
6         Crime    201
13      Mystery    164
12      Musical    157
3     Animation    121
11       Horror    102
10    Film-Noir     64
7   Documentary     34
18      Western     29
9       Fantasy     24
0       unknown      0
doctor의 장르별 평점(rating)의 개수
          genre  count
8         Drama    238
5        Comedy    168
14      Romance    133
16     Thriller    117
1        Action    110
2     Adventure     57
15       Sci-Fi     56
17          War     44
6         Crime     41
4    Children's     28
12      Musical     27
13      Mystery     27
3     Animation     22
11       Horror     18
7   Documentary     13
10    Film-Noir      9
9       Fantasy      7
18      Western      5
0       unknown      0
educator의 장르별 평점(rating)의 개수
          genre  count
8         Drama   4281
5        Comedy   2708
14      Romance   2006
1        Action   1962
16     Thriller   1767
2     Adventure   1128
17          War   1005
15       Sci-Fi    986
6         Crime    710
4    Children's    593
13      Mystery    532
12      Musical    481
11       Horror    421
3     Animation    263
10    Film-Noir    202
18      Western    189
9       Fantasy    112
7   Documentary    107
0       unknown      1
engineer의 장르별 평점(rating)의 개수
          genre  count
8         Drama   3153
5        Comedy   2438
1        Action   2277
16     Thriller   1712
14      Romance   1467
2     Adventure   1299
15       Sci-Fi   1221
17          War    858
4    Children's    629
6         Crime    611
12      Musical    441
11       Horror    414
3     Animation    363
13      Mystery    363
18      Western    180
10    Film-Noir    145
9       Fantasy    125
7   Documentary     51
0       unknown      1
entertainment의 장르별 평점(rating)의 개수
          genre  count
8         Drama    804
5        Comedy    574
16     Thriller    554
1        Action    499
14      Romance    342
15       Sci-Fi    289
2     Adventure    249
6         Crime    207
11       Horror    192
17          War    174
13      Mystery    132
4    Children's    104
12      Musical     68
3     Animation     62
10    Film-Noir     47
18      Western     27
9       Fantasy     25
7   Documentary     23
0       unknown      1
executive의 장르별 평점(rating)의 개수
          genre  count
8         Drama   1407
5        Comedy    951
16     Thriller    811
1        Action    808
14      Romance    592
2     Adventure    436
15       Sci-Fi    391
17          War    312
6         Crime    287
4    Children's    232
13      Mystery    203
11       Horror    155
12      Musical    131
3     Animation     91
10    Film-Noir     58
9       Fantasy     50
18      Western     49
7   Documentary     26
0       unknown      1
healthcare의 장르별 평점(rating)의 개수
          genre  count
8         Drama   1297
5        Comedy    722
1        Action    577
16     Thriller    563
14      Romance    499
2     Adventure    323
15       Sci-Fi    266
17          War    230
4    Children's    213
6         Crime    200
13      Mystery    140
12      Musical    126
11       Horror    120
3     Animation     89
10    Film-Noir     50
18      Western     47
7   Documentary     45
9       Fantasy     38
0       unknown      0
homemaker의 장르별 평점(rating)의 개수
          genre  count
8         Drama    104
16     Thriller     95
5        Comedy     93
1        Action     92
14      Romance     59
2     Adventure     41
13      Mystery     32
15       Sci-Fi     30
17          War     28
4    Children's     25
6         Crime     25
12      Musical     15
3     Animation      9
11       Horror      9
10    Film-Noir      4
9       Fantasy      3
7   Documentary      2
0       unknown      0
18      Western      0
lawyer의 장르별 평점(rating)의 개수
          genre  count
8         Drama    543
5        Comedy    460
1        Action    283
14      Romance    272
16     Thriller    247
2     Adventure    142
17          War    142
15       Sci-Fi    141
6         Crime    107
4    Children's     83
13      Mystery     78
12      Musical     72
11       Horror     60
10    Film-Noir     36
18      Western     35
3     Animation     35
9       Fantasy     14
7   Documentary     10
0       unknown      0
librarian의 장르별 평점(rating)의 개수
          genre  count
8         Drama   2557
5        Comedy   1576
14      Romance   1245
1        Action    988
16     Thriller    977
2     Adventure    536
15       Sci-Fi    508
17          War    481
6         Crime    370
13      Mystery    293
4    Children's    290
12      Musical    238
11       Horror    226
3     Animation    159
10    Film-Noir     96
18      Western     82
9       Fantasy     55
7   Documentary     48
0       unknown      0
marketing의 장르별 평점(rating)의 개수
          genre  count
8         Drama    824
5        Comedy    535
1        Action    477
16     Thriller    442
14      Romance    383
2     Adventure    246
17          War    228
15       Sci-Fi    221
4    Children's    163
6         Crime    161
13      Mystery    128
12      Musical    114
11       Horror     86
3     Animation     79
10    Film-Noir     40
18      Western     35
9       Fantasy     20
7   Documentary     12
0       unknown      0
none의 장르별 평점(rating)의 개수
          genre  count
1        Action    301
8         Drama    268
16     Thriller    262
5        Comedy    255
2     Adventure    160
14      Romance    150
15       Sci-Fi    145
4    Children's     91
6         Crime     74
11       Horror     56
17          War     55
3     Animation     43
12      Musical     43
13      Mystery     33
9       Fantasy     12
10    Film-Noir     12
18      Western     10
7   Documentary      1
0       unknown      1
other의 장르별 평점(rating)의 개수
          genre  count
8         Drama   4307
5        Comedy   3165
1        Action   2672
16     Thriller   2321
14      Romance   2177
2     Adventure   1431
15       Sci-Fi   1242
17          War   1000
4    Children's    881
6         Crime    828
13      Mystery    579
12      Musical    566
11       Horror    535
3     Animation    421
18      Western    172
10    Film-Noir    146
9       Fantasy    144
7   Documentary     65
0       unknown      1
programmer의 장르별 평점(rating)의 개수
          genre  count
8         Drama   2800
5        Comedy   2418
1        Action   2322
16     Thriller   1750
14      Romance   1400
2     Adventure   1240
15       Sci-Fi   1167
17          War    755
6         Crime    666
4    Children's    583
11       Horror    389
12      Musical    385
13      Mystery    375
3     Animation    312
18      Western    162
10    Film-Noir    141
9       Fantasy    117
7   Documentary     51
0       unknown      1
retired의 장르별 평점(rating)의 개수
          genre  count
8         Drama    727
5        Comedy    512
14      Romance    321
16     Thriller    309
1        Action    278
2     Adventure    160
17          War    145
6         Crime    137
15       Sci-Fi    130
4    Children's    110
13      Mystery     98
12      Musical     93
11       Horror     66
10    Film-Noir     43
3     Animation     35
18      Western     33
9       Fantasy     22
7   Documentary     16
0       unknown      0
salesman의 장르별 평점(rating)의 개수
          genre  count
8         Drama    317
5        Comedy    314
1        Action    222
16     Thriller    200
14      Romance    166
2     Adventure     99
15       Sci-Fi     98
6         Crime     79
17          War     77
11       Horror     49
13      Mystery     40
4    Children's     38
12      Musical     27
18      Western     16
3     Animation     15
10    Film-Noir     14
9       Fantasy      9
7   Documentary      2
0       unknown      0
scientist의 장르별 평점(rating)의 개수
          genre  count
8         Drama    932
1        Action    566
5        Comedy    535
16     Thriller    469
14      Romance    440
15       Sci-Fi    318
2     Adventure    285
17          War    255
6         Crime    177
13      Mystery    122
4    Children's    108
12      Musical     91
11       Horror     70
3     Animation     61
10    Film-Noir     39
18      Western     24
9       Fantasy     20
7   Documentary     17
0       unknown      0
student의 장르별 평점(rating)의 개수
          genre  count
8         Drama   7777
5        Comedy   6958
1        Action   6398
16     Thriller   5130
14      Romance   4156
2     Adventure   3358
15       Sci-Fi   3069
6         Crime   1836
17          War   1770
4    Children's   1759
11       Horror   1340
12      Musical   1078
13      Mystery   1009
3     Animation    914
18      Western    408
9       Fantasy    352
10    Film-Noir    269
7   Documentary    117
0       unknown      1
technician의 장르별 평점(rating)의 개수
          genre  count
8         Drama   1295
1        Action   1079
5        Comedy   1056
16     Thriller    796
14      Romance    645
2     Adventure    558
15       Sci-Fi    531
17          War    383
6         Crime    275
4    Children's    221
13      Mystery    177
12      Musical    175
11       Horror    164
3     Animation    132
18      Western     89
10    Film-Noir     46
9       Fantasy     38
7   Documentary     24
0       unknown      1
writer의 장르별 평점(rating)의 개수
          genre  count
8         Drama   2208
5        Comedy   1574
16     Thriller   1304
1        Action   1292
14      Romance   1007
2     Adventure    674
15       Sci-Fi    671
6         Crime    498
11       Horror    454
17          War    445
4    Children's    367
13      Mystery    335
12      Musical    272
3     Animation    176
10    Film-Noir    125
18      Western     94
9       Fantasy     71
7   Documentary     46
0       unknown      1

In [125]:
#B
#모든 유저에서 장르별 평점의 평균
list=df_data[['item id','rating']]

df_movie_id=df_data.copy()
df_movie_id['sum']=list.groupby(['item id']).transform('sum')
df_movie_id['count']=list.groupby(['item id']).transform('count')
df_movie_id=df_movie_id[['item id', 'count','sum']]
df_movie_id=df_movie_id.rename(columns={'item id':'movie id'})
df_movie_id=df_movie_id.drop_duplicates(['movie id'],keep='first')

df_movie=df_item.loc[df_item['movie id'].isin(df_movie_id['movie id'])]
df_movie=pd.merge(left=df_movie,right=df_movie_id,how="inner",on="movie id")
df_movie=df_movie.loc[:,'unknown':'sum']

genre_mean=[]

for i in range(0,19):
    list=df_movie[df_movie.iloc[:,i]=='1']
    rating=list['sum'].sum()/list['count'].sum()
    genre_mean.append([genre[i],rating])
df_genre_mean=pd.DataFrame(np.array(genre_mean),columns=['genre','rating'])
df_genre_mean['rating']=pd.to_numeric(df_genre_mean['rating'],errors='coerce').fillna(0, downcast='infer')
df_genre_mean.sort_values(by='rating', ascending=False)

          genre    rating
10    Film-Noir  3.921523
17          War  3.815812
8         Drama  3.687379
7   Documentary  3.672823
13      Mystery  3.638132
6         Crime  3.632278
14      Romance  3.621705
18      Western  3.613269
3     Animation  3.576699
15       Sci-Fi  3.560723
12      Musical  3.521397
16     Thriller  3.509007
2     Adventure  3.503527
1        Action  3.480245
5        Comedy  3.394073
4    Children's  3.353244
11       Horror  3.290389
9       Fantasy  3.215237
0       unknown  3.200000

In [126]:
#여성의 장르별 평점의 평균
list=df_f_user[['item id','rating']]

df_movie_id=list.copy()
df_movie_id['sum']=list.groupby(['item id']).transform('sum')
df_movie_id['count']=list.groupby(['item id']).transform('count')
df_movie_id=df_movie_id[['item id', 'count','sum']]
df_movie_id=df_movie_id.rename(columns={'item id':'movie id'})
df_movie_id=df_movie_id.drop_duplicates(['movie id'],keep='first')

df_movie=df_item.loc[df_item['movie id'].isin(df_movie_id['movie id'])]
df_movie=pd.merge(left=df_movie,right=df_movie_id,how="inner",on="movie id")
df_movie=df_movie.loc[:,'unknown':'sum']

genre_mean=[]

for i in range(0,19):
    list=df_movie[df_movie.iloc[:,i]=='1']
    rating=list['sum'].sum()/list['count'].sum()
    genre_mean.append([genre[i],rating])
df_genre_mean=pd.DataFrame(np.array(genre_mean),columns=['genre','rating'])
df_genre_mean['rating']=pd.to_numeric(df_genre_mean['rating'],errors='coerce').fillna(0, downcast='infer')
df_genre_mean.sort_values(by='rating', ascending=False)

          genre    rating
17          War  3.781179
10    Film-Noir  3.740260
8         Drama  3.662246
14      Romance  3.655685
12      Musical  3.640083
3     Animation  3.627136
7   Documentary  3.614973
13      Mystery  3.560122
6         Crime  3.556299
2     Adventure  3.517988
18      Western  3.514825
0       unknown  3.500000
15       Sci-Fi  3.497908
16     Thriller  3.496068
1        Action  3.484013
4    Children's  3.426971
5        Comedy  3.424021
11       Horror  3.263993
9       Fantasy  3.201102

In [127]:
#남성의 장르별 평점의 평균
list=df_m_user[['item id','rating']]

df_movie_id=list.copy()
df_movie_id['sum']=list.groupby(['item id']).transform('sum')
df_movie_id['count']=list.groupby(['item id']).transform('count')
df_movie_id=df_movie_id[['item id', 'count','sum']]
df_movie_id=df_movie_id.rename(columns={'item id':'movie id'})
df_movie_id=df_movie_id.drop_duplicates(['movie id'],keep='first')

df_movie=df_item.loc[df_item['movie id'].isin(df_movie_id['movie id'])]
df_movie=pd.merge(left=df_movie,right=df_movie_id,how="inner",on="movie id")
df_movie=df_movie.loc[:,'unknown':'sum']

genre_mean=[]

for i in range(0,19):
    list=df_movie[df_movie.iloc[:,i]=='1']
    rating=list['sum'].sum()/list['count'].sum()
    genre_mean.append([genre[i],rating])
df_genre_mean=pd.DataFrame(np.array(genre_mean),columns=['genre','rating'])
df_genre_mean['rating']=pd.to_numeric(df_genre_mean['rating'],errors='coerce').fillna(0, downcast='infer')
df_genre_mean.sort_values(by='rating', ascending=False)

          genre    rating
10    Film-Noir  3.973294
17          War  3.826328
8         Drama  3.696957
7   Documentary  3.691769
13      Mystery  3.664208
6         Crime  3.654049
18      Western  3.637896
14      Romance  3.607072
15       Sci-Fi  3.577072
3     Animation  3.557471
16     Thriller  3.512927
2     Adventure  3.499246
1        Action  3.479228
12      Musical  3.472665
5        Comedy  3.382972
4    Children's  3.320000
11       Horror  3.298058
9       Fantasy  3.220425
0       unknown  3.125000

In [128]:
#직업의 장르별 평점의 평균
for i in occupation:
    occ=df_user.loc[df_user['occupation']==i]
    df_occ=df_data.loc[df_data['user id'].isin(occ['user id'])]
    
    list=df_occ[['item id','rating']]
    df_movie_id=list.copy()
    df_movie_id['sum']=list.groupby(['item id']).transform('sum')
    df_movie_id['count']=list.groupby(['item id']).transform('count')
    df_movie_id=df_movie_id[['item id', 'count','sum']]
    df_movie_id=df_movie_id.rename(columns={'item id':'movie id'})
    df_movie_id=df_movie_id.drop_duplicates(['movie id'],keep='first')

    df_movie=df_item.loc[df_item['movie id'].isin(df_movie_id['movie id'])]
    df_movie=pd.merge(left=df_movie,right=df_movie_id,how="inner",on="movie id")
    df_movie=df_movie.loc[:,'unknown':'sum']

    genre_mean=[]

    for j in range(0,19):
        list=df_movie[df_movie.iloc[:,j]=='1']
        rating=0 if len(list)==0 else list['sum'].sum()/list['count'].sum()
        genre_mean.append([genre[j],rating])
    df_genre_mean=pd.DataFrame(np.array(genre_mean),columns=['genre','rating'])
    df_genre_mean['rating']=pd.to_numeric(df_genre_mean['rating'],errors='coerce').fillna(0, downcast='infer')
    
    print(i+"의 장르별 평점(rating)의 평균")
    print(df_genre_mean.sort_values(by='rating', ascending=False))

administrator의 장르별 평점(rating)의 평균
          genre    rating
10    Film-Noir  3.972789
17          War  3.924936
7   Documentary  3.875000
8         Drama  3.796063
13      Mystery  3.763636
14      Romance  3.741391
3     Animation  3.738916
18      Western  3.702381
6         Crime  3.693805
15       Sci-Fi  3.650743
16     Thriller  3.604459
12      Musical  3.596045
1        Action  3.538751
2     Adventure  3.521569
5        Comedy  3.494780
9       Fantasy  3.468085
4    Children's  3.448052
11       Horror  3.393862
0       unknown  0.000000
artist의 장르별 평점(rating)의 평균
          genre    rating
10    Film-Noir  4.234375
7   Documentary  4.147059
17          War  3.902222
18      Western  3.862069
15       Sci-Fi  3.818182
13      Mystery  3.792683
8         Drama  3.789969
14      Romance  3.729437
6         Crime  3.676617
16     Thriller  3.590336
2     Adventure  3.581994
1        Action  3.539773
5        Comedy  3.521880
11       Horror  3.460784
3     Animation  3.421488
12      Musical  3.414013
4    Children's  3.391089
9       Fantasy  3.291667
0       unknown  0.000000
doctor의 장르별 평점(rating)의 평균
          genre    rating
17          War  4.159091
10    Film-Noir  4.111111
13      Mystery  3.962963
6         Crime  3.804878
18      Western  3.800000
8         Drama  3.785714
16     Thriller  3.769231
14      Romance  3.699248
1        Action  3.618182
12      Musical  3.592593
2     Adventure  3.561404
5        Comedy  3.559524
4    Children's  3.500000
11       Horror  3.500000
15       Sci-Fi  3.500000
7   Documentary  3.461538
3     Animation  3.363636
9       Fantasy  3.000000
0       unknown  0.000000
educator의 장르별 평점(rating)의 평균
          genre    rating
10    Film-Noir  4.064356
17          War  3.908458
18      Western  3.851852
8         Drama  3.811259
13      Mystery  3.789474
7   Documentary  3.775701
14      Romance  3.758724
6         Crime  3.752113
15       Sci-Fi  3.622718
2     Adventure  3.619681
12      Musical  3.594595
3     Animation  3.593156
16     Thriller  3.581777
1        Action  3.581549
5        Comedy  3.564993
9       Fantasy  3.508929
4    Children's  3.397976
11       Horror  3.171021
0       unknown  3.000000
engineer의 장르별 평점(rating)의 평균
          genre    rating
10    Film-Noir  3.924138
17          War  3.839161
8         Drama  3.701554
7   Documentary  3.666667
6         Crime  3.666121
14      Romance  3.644853
13      Mystery  3.633609
3     Animation  3.614325
18      Western  3.600000
15       Sci-Fi  3.583948
2     Adventure  3.538876
12      Musical  3.517007
16     Thriller  3.489486
1        Action  3.488801
5        Comedy  3.433552
4    Children's  3.386328
11       Horror  3.282609
9       Fantasy  3.200000
0       unknown  3.000000
entertainment의 장르별 평점(rating)의 평균
          genre    rating
0       unknown  4.000000
10    Film-Noir  3.914894
7   Documentary  3.869565
17          War  3.804598
6         Crime  3.710145
8         Drama  3.605721
18      Western  3.592593
15       Sci-Fi  3.529412
14      Romance  3.488304
13      Mystery  3.477273
3     Animation  3.467742
1        Action  3.406814
16     Thriller  3.395307
12      Musical  3.367647
2     Adventure  3.365462
5        Comedy  3.296167
11       Horror  3.229167
4    Children's  3.086538
9       Fantasy  2.960000
executive의 장르별 평점(rating)의 평균
          genre    rating
17          War  3.823718
18      Western  3.673469
15       Sci-Fi  3.626598
12      Musical  3.625954
10    Film-Noir  3.603448
13      Mystery  3.600985
3     Animation  3.560440
1        Action  3.532178
2     Adventure  3.529817
16     Thriller  3.521578
6         Crime  3.505226
8         Drama  3.477612
14      Romance  3.472973
4    Children's  3.202586
11       Horror  3.200000
5        Comedy  3.098843
9       Fantasy  2.840000
7   Documentary  2.192308
0       unknown  1.000000
healthcare의 장르별 평점(rating)의 평균
          genre    rating
12      Musical  3.277778
17          War  3.265217
13      Mystery  3.121429
10    Film-Noir  3.100000
1        Action  3.053726
16     Thriller  3.049734
6         Crime  3.045000
15       Sci-Fi  3.030075
2     Adventure  3.012384
14      Romance  2.995992
8         Drama  2.982267
3     Animation  2.865169
18      Western  2.829787
9       Fantasy  2.789474
4    Children's  2.718310
5        Comedy  2.713296
7   Documentary  2.600000
11       Horror  2.550000
0       unknown  0.000000
homemaker의 장르별 평점(rating)의 평균
          genre    rating
13      Mystery  3.687500
8         Drama  3.538462
14      Romance  3.525424
17          War  3.500000
7   Documentary  3.500000
1        Action  3.456522
2     Adventure  3.439024
6         Crime  3.360000
16     Thriller  3.357895
10    Film-Noir  3.250000
11       Horror  3.222222
15       Sci-Fi  3.200000
3     Animation  3.111111
5        Comedy  2.967742
4    Children's  2.920000
12      Musical  2.800000
9       Fantasy  1.666667
0       unknown  0.000000
18      Western  0.000000
lawyer의 장르별 평점(rating)의 평균
          genre    rating
10    Film-Noir  4.500000
17          War  3.943662
13      Mystery  3.923077
7   Documentary  3.900000
11       Horror  3.866667
12      Musical  3.861111
2     Adventure  3.859155
14      Romance  3.834559
16     Thriller  3.813765
8         Drama  3.802947
3     Animation  3.771429
18      Western  3.771429
6         Crime  3.747664
1        Action  3.692580
15       Sci-Fi  3.602837
5        Comedy  3.493478
4    Children's  3.373494
9       Fantasy  3.142857
0       unknown  0.000000
librarian의 장르별 평점(rating)의 평균
          genre    rating
10    Film-Noir  3.968750
7   Documentary  3.812500
8         Drama  3.701603
13      Mystery  3.689420
17          War  3.683992
6         Crime  3.654054
18      Western  3.585366
3     Animation  3.553459
14      Romance  3.548594
16     Thriller  3.507677
15       Sci-Fi  3.486220
5        Comedy  3.456853
2     Adventure  3.404851
1        Action  3.401822
4    Children's  3.389655
12      Musical  3.348739
9       Fantasy  3.218182
11       Horror  3.168142
0       unknown  0.000000
marketing의 장르별 평점(rating)의 평균
          genre    rating
10    Film-Noir  4.100000
17          War  3.846491
8         Drama  3.608010
13      Mystery  3.585938
7   Documentary  3.583333
15       Sci-Fi  3.547511
6         Crime  3.515528
18      Western  3.514286
1        Action  3.484277
14      Romance  3.477807
2     Adventure  3.434959
16     Thriller  3.423077
11       Horror  3.418605
9       Fantasy  3.400000
5        Comedy  3.360748
12      Musical  3.298246
3     Animation  3.278481
4    Children's  3.092025
0       unknown  0.000000
none의 장르별 평점(rating)의 평균
          genre    rating
0       unknown  5.000000
17          War  4.072727
7   Documentary  4.000000
3     Animation  3.976744
8         Drama  3.932836
14      Romance  3.920000
12      Musical  3.860465
11       Horror  3.857143
16     Thriller  3.835878
15       Sci-Fi  3.806897
4    Children's  3.725275
1        Action  3.724252
2     Adventure  3.706250
5        Comedy  3.678431
6         Crime  3.594595
9       Fantasy  3.583333
13      Mystery  3.545455
10    Film-Noir  3.500000
18      Western  3.500000
other의 장르별 평점(rating)의 평균
          genre    rating
0       unknown  4.000000
10    Film-Noir  3.842466
17          War  3.842000
7   Documentary  3.784615
8         Drama  3.719294
3     Animation  3.672209
18      Western  3.627907
12      Musical  3.627208
14      Romance  3.614607
6         Crime  3.595411
13      Mystery  3.590674
2     Adventure  3.554158
15       Sci-Fi  3.516103
16     Thriller  3.495476
4    Children's  3.488082
1        Action  3.475674
5        Comedy  3.406951
9       Fantasy  3.388889
11       Horror  3.244860
programmer의 장르별 평점(rating)의 평균
          genre    rating
0       unknown  4.000000
17          War  3.888742
10    Film-Noir  3.886525
8         Drama  3.755714
18      Western  3.746914
7   Documentary  3.725490
15       Sci-Fi  3.680377
6         Crime  3.669670
3     Animation  3.660256
14      Romance  3.643571
13      Mystery  3.616000
2     Adventure  3.595968
16     Thriller  3.588000
1        Action  3.565891
12      Musical  3.524675
5        Comedy  3.428040
9       Fantasy  3.367521
4    Children's  3.344768
11       Horror  3.290488
retired의 장르별 평점(rating)의 평균
          genre    rating
10    Film-Noir  4.023256
13      Mystery  3.714286
3     Animation  3.628571
17          War  3.627586
6         Crime  3.613139
12      Musical  3.526882
18      Western  3.515152
8         Drama  3.514443
15       Sci-Fi  3.507692
14      Romance  3.476636
5        Comedy  3.458984
7   Documentary  3.437500
16     Thriller  3.436893
1        Action  3.410072
2     Adventure  3.387500
9       Fantasy  3.363636
11       Horror  3.318182
4    Children's  3.281818
0       unknown  0.000000
salesman의 장르별 평점(rating)의 평균
          genre    rating
7   Documentary  4.000000
8         Drama  3.984227
17          War  3.948052
18      Western  3.937500
6         Crime  3.860759
10    Film-Noir  3.785714
13      Mystery  3.775000
2     Adventure  3.717172
3     Animation  3.666667
1        Action  3.653153
14      Romance  3.632530
12      Musical  3.592593
16     Thriller  3.585000
15       Sci-Fi  3.540816
4    Children's  3.500000
9       Fantasy  3.333333
11       Horror  3.326531
5        Comedy  3.187898
0       unknown  0.000000
scientist의 장르별 평점(rating)의 평균
          genre    rating
10    Film-Noir  4.025641
7   Documentary  3.882353
17          War  3.815686
8         Drama  3.815451
6         Crime  3.813559
13      Mystery  3.729508
3     Animation  3.639344
18      Western  3.625000
14      Romance  3.615909
15       Sci-Fi  3.578616
12      Musical  3.549451
16     Thriller  3.496802
4    Children's  3.481481
5        Comedy  3.446729
2     Adventure  3.442105
1        Action  3.422261
11       Horror  3.385714
9       Fantasy  3.150000
0       unknown  0.000000
student의 장르별 평점(rating)의 평균
          genre    rating
10    Film-Noir  3.832714
7   Documentary  3.829060
17          War  3.819209
8         Drama  3.702842
6         Crime  3.657407
14      Romance  3.650866
3     Animation  3.563457
13      Mystery  3.555005
18      Western  3.549020
15       Sci-Fi  3.531118
16     Thriller  3.506238
12      Musical  3.501855
2     Adventure  3.484515
1        Action  3.466552
11       Horror  3.389552
5        Comedy  3.375683
4    Children's  3.356453
9       Fantasy  3.048295
0       unknown  3.000000
technician의 장르별 평점(rating)의 평균
          genre    rating
10    Film-Noir  4.021739
0       unknown  4.000000
7   Documentary  3.958333
17          War  3.715405
8         Drama  3.694981
13      Mystery  3.689266
14      Romance  3.631008
15       Sci-Fi  3.630885
3     Animation  3.606061
6         Crime  3.509091
16     Thriller  3.488693
18      Western  3.483146
1        Action  3.459685
2     Adventure  3.458781
12      Musical  3.457143
11       Horror  3.420732
5        Comedy  3.381629
4    Children's  3.271493
9       Fantasy  3.157895
writer의 장르별 평점(rating)의 평균
          genre    rating
10    Film-Noir  3.968000
7   Documentary  3.782609
13      Mystery  3.629851
17          War  3.577528
8         Drama  3.511322
6         Crime  3.502008
3     Animation  3.500000
12      Musical  3.474265
14      Romance  3.469712
18      Western  3.414894
16     Thriller  3.375767
15       Sci-Fi  3.347243
4    Children's  3.324251
2     Adventure  3.302671
1        Action  3.285604
5        Comedy  3.268742
9       Fantasy  3.197183
11       Horror  3.107930
0       unknown  1.000000