In [396]:
import re
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

url="./Downloads/ml-100k/ml-100k/" #데이터가 들어있는 경로

path_data=url+"u.data"
path_item=url+"u.item"
path_occupation=url+"u.occupation"
path_user=url+"u.user"

data=[]
genre=['unknown','Action','Adventure','Animation','Children\'s','Comedy','Crime','Documentary','Drama','Fantasy','Film-Noir','Horror','Musical','Mystery','Romance','Sci-Fi','Thriller','War','Western']
item=[]
occupation=[]
user=[]

f_item=open(path_item,mode="r",encoding="ISO-8859-1")
f_data=open(path_data,mode="r",encoding="utf-8")
f_user=open(path_user,mode="r",encoding="utf-8")
f_occupation=open(path_occupation,mode="r",encoding="utf-8")

line=f_data.readline()
while line:
    line=line.rstrip("\n")
    line=line.split('\t')
    data.append(line)
    line=f_data.readline()


line=f_item.readline()
while line:
    line=line.rstrip("\n")
    line=re.split('[|||]',line)
    item.append(line)
    line=f_item.readline()
    
line=f_user.readline()
while line:
    line=line.rstrip("\n")
    line=line.split('|')
    user.append(line)
    line=f_user.readline()
    
line=f_occupation.readline()
while line:
    line=line.rstrip("\n")
    occupation.append(line)
    line=f_occupation.readline()
    

    
f_data.close()
f_item.close()
f_user.close()
f_occupation.close()

df_data=pd.DataFrame(np.array(data),columns=['user id','item id','rating','timestamp'])
df_item=pd.DataFrame(np.array(item),columns=['movie id', 'movie title','release date','video release date','IMDb URL','unknown','Action','Adventure','Animation','Children\'s','Comedy','Crime','Documentary','Drama','Fantasy','Film-Noir','Horror','Musical','Mystery','Romance','Sci-Fi','Thriller','War','Western'])
df_user=pd.DataFrame(np.array(user),columns=['user id','age','gender','occupation','zip code'])
df_data['rating']=pd.to_numeric(df_data['rating'])

In [397]:
#2
#A
#모든 유저에서 평점(rating)의 개수가 많은 100개의 영화
list=df_data['item id'].value_counts()[:100]
s_to_df=list.reset_index()
s_to_df.columns=['movie id','count']
df_movie=df_item.loc[df_item['movie id'].isin(list.index),:'movie title']
df_movie=pd.merge(left=df_movie,right=s_to_df,how="inner",on="movie id")
df_movie.sort_values(by='count', ascending=False)

   movie id                   movie title  count
10       50              Star Wars (1977)    583
65      258                Contact (1997)    509
23      100                  Fargo (1996)    508
44      181     Return of the Jedi (1983)    507
76      294              Liar Liar (1997)    485
..      ...                           ...    ...
89      427  To Kill a Mockingbird (1962)    219
19       95                Aladdin (1992)    219
97      678                Volcano (1997)    219
2         8                   Babe (1995)    219
82      322         Murder at 1600 (1997)    218

[100 rows x 3 columns]

In [398]:
#여성의 평점(rating)의 개수가 많은 100개의 영화
f_user=df_user.loc[df_user['gender']=='F']
df_f_user=df_data.loc[df_data['user id'].isin(f_user['user id'])]
df_f_movie_id=df_f_user['item id'].value_counts()[:100]
s_to_df=df_f_movie_id.reset_index()
s_to_df.columns=['movie id','count']
df_f_movie=df_item.loc[df_item['movie id'].isin(df_f_movie_id.index),:'movie title']
df_f_movie=pd.merge(left=df_f_movie,right=s_to_df,how="inner",on="movie id")
df_f_movie.sort_values(by='count', ascending=False)

   movie id                    movie title  count
69      286    English Patient, The (1996)    152
9        50               Star Wars (1977)    151
70      288                  Scream (1996)    143
72      294               Liar Liar (1997)    141
60      258                 Contact (1997)    137
..      ...                            ...    ...
41      183                   Alien (1979)     56
18       83  Much Ado About Nothing (1993)     55
93      483              Casablanca (1942)     55
4        14             Postino, Il (1994)     55
39      176                  Aliens (1986)     55

[100 rows x 3 columns]

In [399]:
#남성의 평점(rating)의 개수가 많은 100개의 영화
m_user=df_user.loc[df_user['gender']=='M']
df_m_user=df_data.loc[df_data['user id'].isin(m_user['user id'])]
df_m_movie_id=df_m_user['item id'].value_counts()[:100]
s_to_df=df_m_movie_id.reset_index()
s_to_df.columns=['movie id','count']
df_m_movie=df_item.loc[df_item['movie id'].isin(df_m_movie_id.index),:'movie title']
df_m_movie=pd.merge(left=df_m_movie,right=s_to_df,how="inner",on="movie id")
df_m_movie.sort_values(by='count', ascending=False)

   movie id                         movie title  count
10       50                    Star Wars (1977)    432
21      100                        Fargo (1996)    383
42      181           Return of the Jedi (1983)    383
65      258                      Contact (1997)    372
77      294                    Liar Liar (1997)    344
..      ...                                 ...    ...
82      323                 Dante's Peak (1997)    167
93      508  People vs. Larry Flynt, The (1996)    165
96      655                  Stand by Me (1986)    165
97      678                      Volcano (1997)    165
1         4                   Get Shorty (1995)    164

[100 rows x 3 columns]

In [402]:
#직업의 평점(rating)의 개수가 많은 100개의 영화
for i in occupation:
    occ=df_user.loc[df_user['occupation']==i]
    df_occ=df_data.loc[df_data['user id'].isin(occ['user id'])]
    df_occ_movie_id=df_occ['item id'].value_counts()[:100]
    s_to_df=df_occ_movie_id.reset_index()
    s_to_df.columns=['movie id','count']
    df_occ_movie=df_item.loc[df_item['movie id'].isin(df_occ_movie_id.index),:'movie title']
    df_occ_movie=pd.merge(left=df_occ_movie,right=s_to_df,how="inner",on="movie id")
    df_occ_movie=df_occ_movie.sort_values(by='count', ascending=False)
    print(i+"별 상위 100개")
    print(df_occ_movie)

administrator별 상위 100개
   movie id                    movie title  count
72      286    English Patient, The (1996)     47
9        50               Star Wars (1977)     44
40      181      Return of the Jedi (1983)     40
76      300           Air Force One (1997)     38
64      258                 Contact (1997)     38
..      ...                            ...    ...
16       83  Much Ado About Nothing (1993)     18
96      597                  Eraser (1996)     18
4        14             Postino, Il (1994)     18
3        12     Usual Suspects, The (1995)     18
99      660    Fried Green Tomatoes (1991)     18

[100 rows x 3 columns]
artist별 상위 100개
   movie id                                movie title  count
7        50                           Star Wars (1977)     18
67      294                           Liar Liar (1997)     16
39      181                  Return of the Jedi (1983)     16
58      258                             Contact (1997)     15
20      100                               Fargo (1996)     14
..      ...                                        ...    ...
28      143                 Sound of Music, The (1965)      6
80      427               To Kill a Mockingbird (1962)      6
42      186                 Blues Brothers, The (1980)      6
30      150                            Swingers (1996)      6
50      210  Indiana Jones and the Last Crusade (1989)      6

[100 rows x 3 columns]
doctor별 상위 100개
   movie id                                movie title  count
65      313                             Titanic (1997)      5
54      286                English Patient, The (1996)      5
59      300                       Air Force One (1997)      5
93      742                              Ransom (1996)      4
15      100                               Fargo (1996)      4
..      ...                                        ...    ...
34      210  Indiana Jones and the Last Crusade (1989)      2
99     1016                             Con Air (1997)      2
62      304                       Fly Away Home (1996)      1
97      820                           Space Jam (1996)      1
98      903                           Afterglow (1997)      1

[100 rows x 3 columns]
educator별 상위 100개
   movie id                                   movie title  count
68      286                   English Patient, The (1996)     61
19      100                                  Fargo (1996)     54
9        50                              Star Wars (1977)     50
61      258                                Contact (1997)     45
25      127                         Godfather, The (1972)     43
..      ...                                           ...    ...
76      313                                Titanic (1997)     22
4        13                       Mighty Aphrodite (1995)     22
94      523                         Cool Hand Luke (1967)     22
50      209                     This Is Spinal Tap (1984)     22
30      151  Willy Wonka and the Chocolate Factory (1971)     21

[100 rows x 3 columns]
engineer별 상위 100개
   movie id                      movie title  count
9        50                 Star Wars (1977)     50
0         1                 Toy Story (1995)     46
23      100                     Fargo (1996)     45
38      174   Raiders of the Lost Ark (1981)     44
44      181        Return of the Jedi (1983)     44
..      ...                              ...    ...
92      527                    Gandhi (1982)     20
58      215           Field of Dreams (1989)     20
94      566  Clear and Present Danger (1994)     20
97      655               Stand by Me (1986)     20
99      742                    Ransom (1996)     20

[100 rows x 3 columns]
entertainment별 상위 100개
   movie id                           movie title  count
51      258                        Contact (1997)     13
61      288                         Scream (1996)     13
66      302              L.A. Confidential (1997)     12
0         1                      Toy Story (1995)     11
19      100                          Fargo (1996)     11
..      ...                                   ...    ...
67      303                    Ulee's Gold (1997)      5
69      305                 Ice Storm, The (1997)      5
39      199  Bridge on the River Kwai, The (1957)      5
16       93       Welcome to the Dollhouse (1995)      5
99     1012                  Private Parts (1997)      5

[100 rows x 3 columns]
executive별 상위 100개
   movie id                           movie title  count
50      258                        Contact (1997)     22
63      294                      Liar Liar (1997)     21
47      237                  Jerry Maguire (1996)     19
71      322                 Murder at 1600 (1997)     18
60      286           English Patient, The (1996)     18
..      ...                                   ...    ...
78      423     E.T. the Extra-Terrestrial (1982)      8
46      234                           Jaws (1975)      8
75      347                    Wag the Dog (1997)      8
70      321                         Mother (1996)      8
99      988  Beautician and the Beast, The (1997)      8

[100 rows x 3 columns]
healthcare별 상위 100개
   movie id                         movie title  count
32      181           Return of the Jedi (1983)     11
63      300                Air Force One (1997)     11
8        50                    Star Wars (1977)     11
23      127               Godfather, The (1972)     10
59      288                       Scream (1996)     10
..      ...                                 ...    ...
69      318             Schindler's List (1993)      5
70      323                 Dante's Peak (1997)      5
12       70  Four Weddings and a Funeral (1994)      5
73      385                    True Lies (1994)      5
99      845           That Thing You Do! (1996)      5

[100 rows x 3 columns]
homemaker별 상위 100개
   movie id                movie title  count
78      748          Saint, The (1997)      6
54      328   Conspiracy Theory (1997)      6
38      300       Air Force One (1997)      6
49      322      Murder at 1600 (1997)      5
72      678             Volcano (1997)      5
..      ...                        ...    ...
20      225      101 Dalmatians (1996)      1
19      204  Back to the Future (1985)      1
76      713             Othello (1995)      1
16      150            Swingers (1996)      1
99     1296       Indian Summer (1996)      1

[100 rows x 3 columns]
lawyer별 상위 100개
   movie id                             movie title  count
58      286             English Patient, The (1996)      9
52      269                  Full Monty, The (1997)      9
50      258                          Contact (1997)      8
61      294                        Liar Liar (1997)      8
7        50                        Star Wars (1977)      8
..      ...                                     ...    ...
81      485                     My Fair Lady (1964)      3
3        11                    Seven (Se7en) (1995)      3
79      480               North by Northwest (1959)      3
10       67       Ace Ventura: Pet Detective (1994)      3
17       99  Snow White and the Seven Dwarfs (1937)      3

[100 rows x 3 columns]
librarian별 상위 100개
   movie id                                  movie title  count
61      286                  English Patient, The (1996)     35
9        50                             Star Wars (1977)     28
70      313                               Titanic (1997)     27
55      269                       Full Monty, The (1997)     26
21      100                                 Fargo (1996)     26
..      ...                                          ...    ...
10       52           Madness of King George, The (1994)     12
68      306  Mrs. Brown (Her Majesty, Mrs. Brown) (1997)     12
94      588                  Beauty and the Beast (1991)     12
41      194                            Sting, The (1973)     12
99      748                            Saint, The (1997)     12

[100 rows x 3 columns]
marketing별 상위 100개
   movie id                          movie title  count
54      258                       Contact (1997)     18
61      286          English Patient, The (1996)     17
66      300                 Air Force One (1997)     16
65      294                     Liar Liar (1997)     15
78      328             Conspiracy Theory (1997)     14
..      ...                                  ...    ...
22      134                  Citizen Kane (1941)      5
25      150                      Swingers (1996)      5
30      173           Princess Bride, The (1987)      5
40      187       Godfather: Part II, The (1974)      5
23      136  Mr. Smith Goes to Washington (1939)      5

[100 rows x 3 columns]
none별 상위 100개
   movie id                         movie title  count
46      258                      Contact (1997)      7
0         1                    Toy Story (1995)      6
34      222     Star Trek: First Contact (1996)      6
54      300                Air Force One (1997)      6
53      294                    Liar Liar (1997)      6
..      ...                                 ...    ...
91      833                  Bulletproof (1996)      2
74      508  People vs. Larry Flynt, The (1996)      2
23      122               Cable Guy, The (1996)      2
65      411         Nutty Professor, The (1996)      2
99     1231             Marked for Death (1990)      2

[100 rows x 3 columns]
other별 상위 100개
   movie id                  movie title  count
9        50             Star Wars (1977)     62
73      300         Air Force One (1997)     58
70      288                Scream (1996)     56
72      294             Liar Liar (1997)     55
69      286  English Patient, The (1996)     55
..      ...                          ...    ...
27      124             Lone Star (1996)     23
79      321                Mother (1996)     23
31      143   Sound of Music, The (1965)     23
53      235         Mars Attacks! (1996)     23
97      603           Rear Window (1954)     23

[100 rows x 3 columns]
programmer별 상위 100개
   movie id                     movie title  count
11       50                Star Wars (1977)     50
23      100                    Fargo (1996)     47
42      181       Return of the Jedi (1983)     44
38      174  Raiders of the Lost Ark (1981)     42
76      294                Liar Liar (1997)     37
..      ...                             ...    ...
47      188        Full Metal Jacket (1987)     18
62      226               Die Hard 2 (1990)     18
97      654                Chinatown (1974)     18
52      197            Graduate, The (1967)     18
55      203               Unforgiven (1992)     17

[100 rows x 3 columns]
retired별 상위 100개
   movie id                   movie title  count
16      100                  Fargo (1996)     10
62      294              Liar Liar (1997)      9
7        50              Star Wars (1977)      8
19      127         Godfather, The (1972)      8
44      237          Jerry Maguire (1996)      8
..      ...                           ...    ...
51      272      Good Will Hunting (1997)      4
52      274                Sabrina (1995)      4
53      275  Sense and Sensibility (1995)      4
61      291         Absolute Power (1997)      4
99     1028       Grumpier Old Men (1995)      4

[100 rows x 3 columns]
salesman별 상위 100개
   movie id                        movie title  count
60      294                   Liar Liar (1997)      8
64      313                     Titanic (1997)      6
67      327                    Cop Land (1997)      6
58      286        English Patient, The (1996)      6
23      121      Independence Day (ID4) (1996)      5
..      ...                                ...    ...
19      105                  Sgt. Bilko (1996)      2
54      271           Starship Troopers (1997)      2
45      234                        Jaws (1975)      2
42      219  Nightmare on Elm Street, A (1984)      2
99     1041                Forget Paris (1995)      2

[100 rows x 3 columns]
scientist별 상위 100개
   movie id                     movie title  count
13       50                Star Wars (1977)     19
23      100                    Fargo (1996)     18
70      286     English Patient, The (1996)     17
62      258                  Contact (1997)     17
43      181       Return of the Jedi (1983)     15
..      ...                             ...    ...
44      183                    Alien (1979)      6
60      250       Fifth Element, The (1997)      6
46      187  Godfather: Part II, The (1974)      6
1         4               Get Shorty (1995)      6
99      879          Peacemaker, The (1997)      6

[100 rows x 3 columns]
student별 상위 100개
   movie id                                        movie title  count
72      288                                      Scream (1996)    137
11       50                                   Star Wars (1977)    132
42      181                          Return of the Jedi (1983)    121
74      294                                   Liar Liar (1997)    117
63      258                                     Contact (1997)    117
..      ...                                                ...    ...
78      302                           L.A. Confidential (1997)     48
54      230               Star Trek IV: The Voyage Home (1986)     48
58      238                             Raising Arizona (1987)     48
77      301                                    In & Out (1997)     47
60      249  Austin Powers: International Man of Mystery (1...     47

[100 rows x 3 columns]
technician별 상위 100개
   movie id                    movie title  count
8        50               Star Wars (1977)     22
41      181      Return of the Jedi (1983)     19
24      121  Independence Day (ID4) (1996)     18
20      100                   Fargo (1996)     18
0         1               Toy Story (1995)     17
..      ...                            ...    ...
23      118                 Twister (1996)      9
74      260           Event Horizon (1997)      9
72      257            Men in Black (1997)      9
61      226              Die Hard 2 (1990)      9
68      238         Raising Arizona (1987)      9

[100 rows x 3 columns]
writer별 상위 100개
   movie id                      movie title  count
67      288                    Scream (1996)     27
17      100                     Fargo (1996)     27
10       50                 Star Wars (1977)     27
33      181        Return of the Jedi (1983)     25
66      286      English Patient, The (1996)     25
..      ...                              ...    ...
65      285            Secrets & Lies (1996)     12
70      298                  Face/Off (1997)     12
99      748                Saint, The (1997)     12
75      319  Everyone Says I Love You (1996)     11
8        25             Birdcage, The (1996)     11

[100 rows x 3 columns]

In [401]:
#B
#모든 유저에서 평점(rating)의 평균이 높은 100개의 영화
list=df_data[['item id','rating']]
list=list.groupby(['item id']).mean()
df_movie_id=list.sort_values(by='rating',ascending=False)[:100]
df_movie_id.index.name="movie id"

df_movie=df_item.loc[df_item['movie id'].isin(df_movie_id.index),:'movie title']
df_movie=pd.merge(left=df_movie,right=df_movie_id,how="inner",on="movie id")
df_movie=df_movie.sort_values(by='rating', ascending=False)
df_movie

   movie id                                        movie title    rating
99     1653  Entertaining Angels: The Dorothy Day Story (1996)  5.000000
72      814                      Great Day in Harlem, A (1994)  5.000000
96     1599                      Someone Else's America (1995)  5.000000
78     1122                     They Made Me a Criminal (1939)  5.000000
81     1189                                 Prefontaine (1997)  5.000000
..      ...                                                ...       ...
70      659                        Arsenic and Old Lace (1944)  4.078261
13      132                           Wizard of Oz, The (1939)  4.077236
67      651                                       Glory (1989)  4.076023
18      168             Monty Python and the Holy Grail (1974)  4.066456
83     1194                          Once Were Warriors (1994)  4.064516

[100 rows x 3 columns]

In [385]:
#여성의 평점(rating)의 평균이 높은 100개의 영화
list=df_f_user[['item id','rating']]
list=list.groupby(['item id']).mean()
df_movie_id=list.sort_values(by='rating',ascending=False)[:100]
df_movie_id.index.name="movie id"

df_movie=df_item.loc[df_item['movie id'].isin(df_movie_id.index),:'movie title']
df_movie=pd.merge(left=df_movie,right=df_movie_id,how="inner",on="movie id")
df_movie.sort_values(by='rating', ascending=False)

   movie id                             movie title  rating
85     1189                      Prefontaine (1997)     5.0
16      119  Maya Lin: A Strong Clear Vision (1994)     5.0
98     1599           Someone Else's America (1995)     5.0
97     1594                          Everest (1998)     5.0
96     1472   Visitors, The (Visiteurs, Les) (1993)     5.0
..      ...                                     ...     ...
59      516                       Local Hero (1983)     4.1
54      489                        Notorious (1946)     4.1
76      936                      Brassed Off (1996)     4.1
40      317        In the Name of the Father (1993)     4.1
58      515                        Boot, Das (1981)     4.1

[100 rows x 3 columns]

In [386]:
#남성의 평점(rating)의 평균이 높은 100개의 영화
list=df_m_user[['item id','rating']]
list=list.groupby(['item id']).mean()
df_movie_id=list.sort_values(by='rating',ascending=False)[:100]
df_movie_id.index.name="movie id"

df_movie=df_item.loc[df_item['movie id'].isin(df_movie_id.index),:'movie title']
df_movie=pd.merge(left=df_movie,right=df_movie_id,how="inner",on="movie id")
df_movie.sort_values(by='rating', ascending=False)

   movie id                                     movie title    rating
99     1656                              Little City (1998)  5.000000
75     1201      Marlene Dietrich: Shadow and Light (1996)   5.000000
79     1306                           Delta of Venus (1994)  5.000000
73     1191                 Letter From Death Row, A (1998)  5.000000
72     1189                              Prefontaine (1997)  5.000000
..      ...                                             ...       ...
65     1142                       When We Were Kings (1996)  4.151515
12      136             Mr. Smith Goes to Washington (1939)  4.150000
14      166  Manon of the Spring (Manon des sources) (1986)  4.146341
69     1167                           Sum of Us, The (1994)  4.142857
47      520                        Great Escape, The (1963)  4.138614

[100 rows x 3 columns]

In [387]:
#직업의 평점(rating)의 평균이 높은 100개의 영화
for i in occupation:
    occ=df_user.loc[df_user['occupation']==i]
    df_occ=df_data.loc[df_data['user id'].isin(occ['user id'])]
    
    list=df_occ[['item id','rating']]
    list=list.groupby(['item id']).mean()
    
    df_movie_id=list.sort_values(by='rating',ascending=False)[:100]
    df_movie_id.index.name="movie id"

    df_movie=df_item.loc[df_item['movie id'].isin(df_movie_id.index),:'movie title']
    df_movie=pd.merge(left=df_movie,right=df_movie_id,how="inner",on="movie id")
    print(i+"별 상위 100개")
    print(df_movie.sort_values(by='rating', ascending=False))

administrator별 상위 100개
   movie id                       movie title    rating
99     1600               Guantanamera (1994)  5.000000
87     1262        Walking and Talking (1996)  5.000000
57      923      Raise the Red Lantern (1991)  5.000000
85     1234      Chairman of the Board (1998)  5.000000
54      899          Winter Guest, The (1997)  5.000000
..      ...                               ...       ...
26      496      It's a Wonderful Life (1946)  4.470588
1        55          Professional, The (1994)  4.444444
5       100                      Fargo (1996)  4.444444
4        98  Silence of the Lambs, The (1991)  4.441176
16      316         As Good As It Gets (1997)  4.428571

[100 rows x 3 columns]
artist별 상위 100개
   movie id                        movie title    rating
50      506       Rebel Without a Cause (1955)  5.000000
64      616    Night of the Living Dead (1968)  5.000000
76      729                        Nell (1994)  5.000000
75      715                  To Die For (1995)  5.000000
74      707             Enchanted April (1991)  5.000000
..      ...                                ...       ...
51      512             Wings of Desire (1987)  4.600000
35      423  E.T. the Extra-Terrestrial (1982)  4.571429
29      269             Full Monty, The (1997)  4.571429
69      657   Manchurian Candidate, The (1962)  4.571429
42      484         Maltese Falcon, The (1941)  4.571429

[100 rows x 3 columns]
doctor별 상위 100개
   movie id                             movie title  rating
0        10                      Richard III (1995)     5.0
44      307            Devil's Advocate, The (1997)     5.0
79      680               Kull the Conqueror (1997)     5.0
78      612                     Lost Horizon (1937)     5.0
76      543                  Misérables, Les (1995)     5.0
..      ...                                     ...     ...
52      357  One Flew Over the Cuckoo's Nest (1975)     4.0
51      354              Wedding Singer, The (1998)     4.0
42      295                        Breakdown (1997)     4.0
41      289                            Evita (1996)     4.0
68      511               Lawrence of Arabia (1962)     4.0

[100 rows x 3 columns]
educator별 상위 100개
   movie id                                        movie title    rating
99     1598                            City of Industry (1997)  5.000000
85     1195  Strawberry and Chocolate (Fresa y chocolate) (...  5.000000
27      361                                   Incognito (1997)  5.000000
29      464                        Vanya on 42nd Street (1994)  5.000000
79     1159                                     Stalker (1979)  5.000000
..      ...                                                ...       ...
5        60                          Three Colors: Blue (1993)  4.363636
31      479                                     Vertigo (1958)  4.363636
35      506                       Rebel Without a Cause (1955)  4.363636
6        64                   Shawshank Redemption, The (1994)  4.344828
81     1166                        Love & Human Remains (1993)  4.333333

[100 rows x 3 columns]
engineer별 상위 100개
   movie id                                   movie title    rating
99     1512        World of Apu, The (Apur Sansar) (1959)  5.000000
88     1144                        Quiet Room, The (1996)  5.000000
66      611                                  Laura (1944)  5.000000
75      834  Halloween: The Curse of Michael Myers (1995)  5.000000
77      945                                Charade (1963)  5.000000
..      ...                                           ...       ...
62      527                                 Gandhi (1982)  4.150000
16      153                   Fish Called Wanda, A (1988)  4.142857
85     1073                          Shallow Grave (1994)  4.142857
0         8                                   Babe (1995)  4.142857
8        56                           Pulp Fiction (1994)  4.138889

[100 rows x 3 columns]
entertainment별 상위 100개
   movie id                                   movie title  rating
50      494                        His Girl Friday (1940)     5.0
42      434                       Forbidden Planet (1956)     5.0
70      654                              Chinatown (1974)     5.0
69      652  Rosencrantz and Guildenstern Are Dead (1990)     5.0
68      647                                    Ran (1985)     5.0
..      ...                                           ...     ...
26      192                            Raging Bull (1980)     4.5
25      189                       Grand Day Out, A (1992)     4.5
23      187                Godfather: Part II, The (1974)     4.5
72      660                   Fried Green Tomatoes (1991)     4.5
22      183                                  Alien (1979)     4.5

[100 rows x 3 columns]
executive별 상위 100개
   movie id               movie title    rating
99     1643         Angel Baby (1995)  5.000000
49      490   To Catch a Thief (1955)  5.000000
89     1041       Forget Paris (1995)  5.000000
21      165   Jean de Florette (1986)  5.000000
54      501              Dumbo (1941)  5.000000
..      ...                       ...       ...
19      157            Platoon (1986)  4.333333
66      582         Piano, The (1993)  4.333333
5        59  Three Colors: Red (1994)  4.333333
58      520  Great Escape, The (1963)  4.333333
50      492       East of Eden (1955)  4.333333

[100 rows x 3 columns]
healthcare별 상위 100개
   movie id                                        movie title  rating
99     1643                                  Angel Baby (1995)     5.0
83      898                                Postman, The (1997)     5.0
28      370                                 Mary Reilly (1996)     5.0
36      452                                      Jaws 2 (1978)     5.0
46      489                                   Notorious (1946)     5.0
..      ...                                                ...     ...
39      480                          North by Northwest (1959)     4.0
69      630                             Great Race, The (1965)     4.0
70      632                             Sophie's Choice (1982)     4.0
71      633                          Christmas Carol, A (1938)     4.0
0         6  Shanghai Triad (Yao a yao yao dao waipo qiao) ...     4.0

[100 rows x 3 columns]
homemaker별 상위 100개
   movie id                       movie title  rating
83      762            Beautiful Girls (1996)     5.0
88      873            Picture Perfect (1997)     5.0
26      222   Star Trek: First Contact (1996)     5.0
47      309                   Deceiver (1997)     5.0
61      350                     Fallen (1998)     5.0
..      ...                               ...     ...
8        98  Silence of the Lambs, The (1991)     3.0
86      847        Looking for Richard (1996)     3.0
69      539                 Mouse Hunt (1997)     3.0
17      127             Godfather, The (1972)     3.0
90      930             Chain Reaction (1996)     3.0

[100 rows x 3 columns]
lawyer별 상위 100개
   movie id                          movie title  rating
0         2                     GoldenEye (1995)     5.0
48      448                     Omen, The (1976)     5.0
73      612                  Lost Horizon (1937)     5.0
72      611                         Laura (1944)     5.0
71      609           Father of the Bride (1950)     5.0
..      ...                                  ...     ...
5        33                     Desperado (1995)     4.5
4        32                         Crumb (1994)     4.5
30      223                   Sling Blade (1996)     4.5
31      228  Star Trek: The Wrath of Khan (1982)     4.5
36      283                          Emma (1996)     4.5

[100 rows x 3 columns]
librarian별 상위 100개
   movie id                   movie title    rating
99     1656            Little City (1998)  5.000000
58      741       Last Supper, The (1995)  5.000000
91     1448     My Favorite Season (1993)  5.000000
80     1131                   Safe (1995)  5.000000
42      524    Great Dictator, The (1940)  5.000000
..      ...                           ...       ...
53      676          Crucible, The (1996)  4.285714
20      223            Sling Blade (1996)  4.285714
5        61    Three Colors: White (1994)  4.285714
68      923  Raise the Red Lantern (1991)  4.285714
16      169    Wrong Trousers, The (1993)  4.272727

[100 rows x 3 columns]
marketing별 상위 100개
   movie id                    movie title    rating
99     1394      Swept from the Sea (1997)  5.000000
93     1062  Four Days in September (1997)  5.000000
92     1024           Mrs. Dalloway (1997)  5.000000
79      736             Shadowlands (1993)  5.000000
83      856          Night on Earth (1991)  5.000000
..      ...                            ...       ...
30      197           Graduate, The (1967)  4.166667
29      196      Dead Poets Society (1989)  4.166667
6        69            Forrest Gump (1994)  4.142857
54      483              Casablanca (1942)  4.111111
39      302       L.A. Confidential (1997)  4.090909

[100 rows x 3 columns]
none별 상위 100개
   movie id                     movie title    rating
0        17      From Dusk Till Dawn (1996)  5.000000
75      751      Tomorrow Never Dies (1997)  5.000000
72      732                     Dave (1993)  5.000000
71      716    Home for the Holidays (1995)  5.000000
70      692  American President, The (1995)  5.000000
..      ...                             ...       ...
32      269          Full Monty, The (1997)  4.666667
73      739             Pretty Woman (1990)  4.666667
40      304            Fly Away Home (1996)  4.500000
19      174  Raiders of the Lost Ark (1981)  4.500000
20      176                   Aliens (1986)  4.500000

[100 rows x 3 columns]
other별 상위 100개
   movie id                                        movie title    rating
99     1653  Entertaining Angels: The Dorothy Day Story (1996)  5.000000
83     1240         Ghost in the Shell (Kokaku kidotai) (1995)  5.000000
80     1191                    Letter From Death Row, A (1998)  5.000000
79     1172                                  Women, The (1939)  5.000000
78     1128              Heidi Fleiss: Hollywood Madam (1995)   5.000000
..      ...                                                ...       ...
51      653                               Touch of Evil (1958)  4.333333
4        45                         Eat Drink Man Woman (1994)  4.333333
32      516                                  Local Hero (1983)  4.333333
18      320  Paradise Lost: The Child Murders at Robin Hood...  4.333333
70      971                                Mediterraneo (1991)  4.333333

[100 rows x 3 columns]
programmer별 상위 100개
   movie id                                        movie title    rating
50      494                             His Girl Friday (1940)  5.000000
86     1103                                       Trust (1990)  5.000000
53      543                             Misérables, Les (1995)  5.000000
55      611                                       Laura (1944)  5.000000
70      793                                    Crooklyn (1994)  5.000000
..      ...                                                ...       ...
76      923                       Raise the Red Lantern (1991)  4.250000
41      392                     Man Without a Face, The (1993)  4.250000
46      474  Dr. Strangelove or: How I Learned to Stop Worr...  4.238095
65      709                           Strictly Ballroom (1992)  4.230769
11      132                           Wizard of Oz, The (1939)  4.227273

[100 rows x 3 columns]
retired별 상위 100개
   movie id                                        movie title  rating
39      271                           Starship Troopers (1997)     5.0
65      512                             Wings of Desire (1987)     5.0
21      169                         Wrong Trousers, The (1993)     5.0
88      697                     Basketball Diaries, The (1995)     5.0
16      158                         Weekend at Bernie's (1989)     5.0
..      ...                                                ...     ...
72      527                                      Gandhi (1982)     4.0
73      530                  Man Who Would Be King, The (1975)     4.0
74      537                        My Own Private Idaho (1991)     4.0
52      474  Dr. Strangelove or: How I Learned to Stop Worr...     4.0
99     1620                              Sixth Man, The (1997)     4.0

[100 rows x 3 columns]
salesman별 상위 100개
   movie id                 movie title  rating
99     1168        Little Buddha (1993)     5.0
41      209   This Is Spinal Tap (1984)     5.0
65      340        Boogie Nights (1997)     5.0
64      329   Desperate Measures (1998)     5.0
63      318     Schindler's List (1993)     5.0
..      ...                         ...     ...
37      197        Graduate, The (1967)     4.5
35      193     Right Stuff, The (1983)     4.5
18      127       Godfather, The (1972)     4.5
4        22           Braveheart (1995)     4.5
50      248  Grosse Pointe Blank (1997)     4.5

[100 rows x 3 columns]
scientist별 상위 100개
   movie id                          movie title    rating
99     1639  Bitter Sugar (Azucar Amargo) (1996)  5.000000
43      224                      Ridicule (1996)  5.000000
91     1025               Fire Down Below (1997)  5.000000
90      961                       Orlando (1993)  5.000000
88      902             Big Lebowski, The (1998)  5.000000
..      ...                                  ...       ...
33      195               Terminator, The (1984)  4.111111
69      515                     Boot, Das (1981)  4.111111
3        22                    Braveheart (1995)  4.111111
42      222      Star Trek: First Contact (1996)  4.100000
35      200                  Shining, The (1980)  4.000000

[100 rows x 3 columns]
student별 상위 100개
   movie id                                        movie title    rating
87     1316                        Horse Whisperer, The (1998)  5.000000
89     1375                          Cement Garden, The (1993)  5.000000
68      968                      Inspector General, The (1949)  5.000000
29      341                               Critical Care (1997)  5.000000
28      320  Paradise Lost: The Child Murders at Robin Hood...  5.000000
..      ...                                                ...       ...
14      173                         Princess Bride, The (1987)  4.280488
17      199               Bridge on the River Kwai, The (1957)  4.272727
15      174                     Raiders of the Lost Ark (1981)  4.267442
42      531                                       Shine (1996)  4.259259
43      580  Englishman Who Went Up a Hill, But Came Down a...  4.250000

[100 rows x 3 columns]
technician별 상위 100개
   movie id                                        movie title    rating
0         6  Shanghai Triad (Yao a yao yao dao waipo qiao) ...  5.000000
42      359                             Assignment, The (1997)  5.000000
73      764                                If Lucy Fell (1996)  5.000000
70      652       Rosencrantz and Guildenstern Are Dead (1990)  5.000000
69      645                            Paris Is Burning (1990)  5.000000
..      ...                                                ...       ...
92     1119                      Some Kind of Wonderful (1987)  4.333333
27      223                                 Sling Blade (1996)  4.333333
14      124                                   Lone Star (1996)  4.333333
83      980                                Mother Night (1996)  4.333333
53      480                          North by Northwest (1959)  4.333333

[100 rows x 3 columns]
writer별 상위 100개
   movie id                       movie title    rating
99     1597             Romper Stomper (1992)  5.000000
91     1237                    Twisted (1996)  5.000000
59      691                  Dark City (1998)  5.000000
68      837              Meet John Doe (1941)  5.000000
69      841           Glimmer Man, The (1996)  5.000000
..      ...                               ...       ...
49      588       Beauty and the Beast (1991)  4.222222
58      657  Manchurian Candidate, The (1962)  4.222222
26      253           Pillow Book, The (1995)  4.200000
51      615              39 Steps, The (1935)  4.200000
63      750                    Amistad (1997)  4.200000

[100 rows x 3 columns]

In [388]:
#3
#A
#모든 유저에서 장르별 평점(rating)의 개수
list=df_data['item id'].value_counts()
s_to_df=list.reset_index()
s_to_df.columns=['movie id','count']
df_movie=df_item.loc[df_item['movie id'].isin(list.index)]
df_movie=pd.merge(left=df_movie,right=s_to_df,how="inner",on="movie id")
df_movie=df_movie.loc[:,'unknown':'count']

genre_count=[]

for i in range(0,19):
    list=df_movie[df_movie.iloc[:,i]=='1']
    genre_count.append([genre[i],list['count'].sum()])
df_genre_count=pd.DataFrame(np.array(genre_count),columns=['genre','count'])
df_genre_count

          genre  count
0       unknown     10
1        Action  25589
2     Adventure  13753
3     Animation   3605
4    Children's   7182
5        Comedy  29832
6         Crime   8055
7   Documentary    758
8         Drama  39895
9       Fantasy   1352
10    Film-Noir   1733
11       Horror   5317
12      Musical   4954
13      Mystery   5245
14      Romance  19461
15       Sci-Fi  12730
16     Thriller  21872
17          War   9398
18      Western   1854

In [389]:
#여성의 장르별 평점(rating)의 개수
df_f_user=df_data.loc[df_data['user id'].isin(f_user['user id'])]
df_f_movie_id=df_f_user['item id'].value_counts()
s_to_df=df_f_movie_id.reset_index()
s_to_df.columns=['movie id','count']
df_f_movie=df_item.loc[df_item['movie id'].isin(df_f_movie_id.index)]
df_f_movie=pd.merge(left=df_f_movie,right=s_to_df,how="inner",on="movie id")
df_movie=df_f_movie.loc[:,'unknown':'count']

genre_count=[]

for i in range(0,19):
    list=df_movie[df_movie.iloc[:,i]=='1']
    genre_count.append([genre[i],list['count'].sum()])
    #print(df_movie.values)
df_genre_count=pd.DataFrame(np.array(genre_count),columns=['genre','count'])
df_genre_count

          genre  count
0       unknown      2
1        Action   5442
2     Adventure   3141
3     Animation    995
4    Children's   2232
5        Comedy   8068
6         Crime   1794
7   Documentary    187
8         Drama  11008
9       Fantasy    363
10    Film-Noir    385
11       Horror   1197
12      Musical   1442
13      Mystery   1314
14      Romance   5858
15       Sci-Fi   2629
16     Thriller   5086
17          War   2189
18      Western    371

In [390]:
#남성의 장르별 평점(rating)의 개수
df_m_user=df_data.loc[df_data['user id'].isin(m_user['user id'])]
df_movie_id=df_m_user['item id'].value_counts()
s_to_df=df_movie_id.reset_index()
s_to_df.columns=['movie id','count']
df_movie=df_item.loc[df_item['movie id'].isin(df_movie_id.index)]
df_movie=pd.merge(left=df_movie,right=s_to_df,how="inner",on="movie id")
df_movie=df_movie.loc[:,'unknown':'count']

genre_count=[]

for i in range(0,19):
    list=df_movie[df_movie.iloc[:,i]=='1']
    genre_count.append([genre[i],list['count'].sum()])
    #print(df_movie.values)
df_genre_count=pd.DataFrame(np.array(genre_count),columns=['genre','count'])
df_genre_count

          genre  count
0       unknown      8
1        Action  20147
2     Adventure  10612
3     Animation   2610
4    Children's   4950
5        Comedy  21764
6         Crime   6261
7   Documentary    571
8         Drama  28887
9       Fantasy    989
10    Film-Noir   1348
11       Horror   4120
12      Musical   3512
13      Mystery   3931
14      Romance  13603
15       Sci-Fi  10101
16     Thriller  16786
17          War   7209
18      Western   1483

In [391]:
#직업의 장르별 평점(rating)의 개수
for i in occupation:
    occ=df_user.loc[df_user['occupation']==i]
    df_occ=df_data.loc[df_data['user id'].isin(occ['user id'])]
    df_occ_movie_id=df_occ['item id'].value_counts()
    s_to_df=df_occ_movie_id.reset_index()
    s_to_df.columns=['movie id','count']
    df_occ_movie=df_item.loc[df_item['movie id'].isin(df_occ_movie_id.index)]
    df_occ_movie=pd.merge(left=df_occ_movie,right=s_to_df,how="inner",on="movie id")
    df_movie=df_occ_movie.loc[:,'unknown':'count']
    
    genre_count=[]

    for j in range(0,19):
        list=df_movie[df_movie.iloc[:,j]=='1']
        genre_count.append([genre[j],list['count'].sum()])
    df_genre_count=pd.DataFrame(np.array(genre_count),columns=['genre','count'])
    print(i+"의 장르별 평점(rating)의 개수")
    print(df_genre_count)

administrator의 장르별 평점(rating)의 개수
          genre count
0       unknown     0
1        Action  1858
2     Adventure  1020
3     Animation   203
4    Children's   462
5        Comedy  2203
6         Crime   565
7   Documentary    48
8         Drama  3099
9       Fantasy    94
10    Film-Noir   147
11       Horror   391
12      Musical   354
13      Mystery   385
14      Romance  1539
15       Sci-Fi   942
16     Thriller  1570
17          War   786
18      Western   168
artist의 장르별 평점(rating)의 개수
          genre count
0       unknown     0
1        Action   528
2     Adventure   311
3     Animation   121
4    Children's   202
5        Comedy   617
6         Crime   201
7   Documentary    34
8         Drama   957
9       Fantasy    24
10    Film-Noir    64
11       Horror   102
12      Musical   157
13      Mystery   164
14      Romance   462
15       Sci-Fi   308
16     Thriller   476
17          War   225
18      Western    29
doctor의 장르별 평점(rating)의 개수
          genre count
0       unknown     0
1        Action   110
2     Adventure    57
3     Animation    22
4    Children's    28
5        Comedy   168
6         Crime    41
7   Documentary    13
8         Drama   238
9       Fantasy     7
10    Film-Noir     9
11       Horror    18
12      Musical    27
13      Mystery    27
14      Romance   133
15       Sci-Fi    56
16     Thriller   117
17          War    44
18      Western     5
educator의 장르별 평점(rating)의 개수
          genre count
0       unknown     1
1        Action  1962
2     Adventure  1128
3     Animation   263
4    Children's   593
5        Comedy  2708
6         Crime   710
7   Documentary   107
8         Drama  4281
9       Fantasy   112
10    Film-Noir   202
11       Horror   421
12      Musical   481
13      Mystery   532
14      Romance  2006
15       Sci-Fi   986
16     Thriller  1767
17          War  1005
18      Western   189
engineer의 장르별 평점(rating)의 개수
          genre count
0       unknown     1
1        Action  2277
2     Adventure  1299
3     Animation   363
4    Children's   629
5        Comedy  2438
6         Crime   611
7   Documentary    51
8         Drama  3153
9       Fantasy   125
10    Film-Noir   145
11       Horror   414
12      Musical   441
13      Mystery   363
14      Romance  1467
15       Sci-Fi  1221
16     Thriller  1712
17          War   858
18      Western   180
entertainment의 장르별 평점(rating)의 개수
          genre count
0       unknown     1
1        Action   499
2     Adventure   249
3     Animation    62
4    Children's   104
5        Comedy   574
6         Crime   207
7   Documentary    23
8         Drama   804
9       Fantasy    25
10    Film-Noir    47
11       Horror   192
12      Musical    68
13      Mystery   132
14      Romance   342
15       Sci-Fi   289
16     Thriller   554
17          War   174
18      Western    27
executive의 장르별 평점(rating)의 개수
          genre count
0       unknown     1
1        Action   808
2     Adventure   436
3     Animation    91
4    Children's   232
5        Comedy   951
6         Crime   287
7   Documentary    26
8         Drama  1407
9       Fantasy    50
10    Film-Noir    58
11       Horror   155
12      Musical   131
13      Mystery   203
14      Romance   592
15       Sci-Fi   391
16     Thriller   811
17          War   312
18      Western    49
healthcare의 장르별 평점(rating)의 개수
          genre count
0       unknown     0
1        Action   577
2     Adventure   323
3     Animation    89
4    Children's   213
5        Comedy   722
6         Crime   200
7   Documentary    45
8         Drama  1297
9       Fantasy    38
10    Film-Noir    50
11       Horror   120
12      Musical   126
13      Mystery   140
14      Romance   499
15       Sci-Fi   266
16     Thriller   563
17          War   230
18      Western    47
homemaker의 장르별 평점(rating)의 개수
          genre count
0       unknown     0
1        Action    92
2     Adventure    41
3     Animation     9
4    Children's    25
5        Comedy    93
6         Crime    25
7   Documentary     2
8         Drama   104
9       Fantasy     3
10    Film-Noir     4
11       Horror     9
12      Musical    15
13      Mystery    32
14      Romance    59
15       Sci-Fi    30
16     Thriller    95
17          War    28
18      Western     0
lawyer의 장르별 평점(rating)의 개수
          genre count
0       unknown     0
1        Action   283
2     Adventure   142
3     Animation    35
4    Children's    83
5        Comedy   460
6         Crime   107
7   Documentary    10
8         Drama   543
9       Fantasy    14
10    Film-Noir    36
11       Horror    60
12      Musical    72
13      Mystery    78
14      Romance   272
15       Sci-Fi   141
16     Thriller   247
17          War   142
18      Western    35
librarian의 장르별 평점(rating)의 개수
          genre count
0       unknown     0
1        Action   988
2     Adventure   536
3     Animation   159
4    Children's   290
5        Comedy  1576
6         Crime   370
7   Documentary    48
8         Drama  2557
9       Fantasy    55
10    Film-Noir    96
11       Horror   226
12      Musical   238
13      Mystery   293
14      Romance  1245
15       Sci-Fi   508
16     Thriller   977
17          War   481
18      Western    82
marketing의 장르별 평점(rating)의 개수
          genre count
0       unknown     0
1        Action   477
2     Adventure   246
3     Animation    79
4    Children's   163
5        Comedy   535
6         Crime   161
7   Documentary    12
8         Drama   824
9       Fantasy    20
10    Film-Noir    40
11       Horror    86
12      Musical   114
13      Mystery   128
14      Romance   383
15       Sci-Fi   221
16     Thriller   442
17          War   228
18      Western    35
none의 장르별 평점(rating)의 개수
          genre count
0       unknown     1
1        Action   301
2     Adventure   160
3     Animation    43
4    Children's    91
5        Comedy   255
6         Crime    74
7   Documentary     1
8         Drama   268
9       Fantasy    12
10    Film-Noir    12
11       Horror    56
12      Musical    43
13      Mystery    33
14      Romance   150
15       Sci-Fi   145
16     Thriller   262
17          War    55
18      Western    10
other의 장르별 평점(rating)의 개수
          genre count
0       unknown     1
1        Action  2672
2     Adventure  1431
3     Animation   421
4    Children's   881
5        Comedy  3165
6         Crime   828
7   Documentary    65
8         Drama  4307
9       Fantasy   144
10    Film-Noir   146
11       Horror   535
12      Musical   566
13      Mystery   579
14      Romance  2177
15       Sci-Fi  1242
16     Thriller  2321
17          War  1000
18      Western   172
programmer의 장르별 평점(rating)의 개수
          genre count
0       unknown     1
1        Action  2322
2     Adventure  1240
3     Animation   312
4    Children's   583
5        Comedy  2418
6         Crime   666
7   Documentary    51
8         Drama  2800
9       Fantasy   117
10    Film-Noir   141
11       Horror   389
12      Musical   385
13      Mystery   375
14      Romance  1400
15       Sci-Fi  1167
16     Thriller  1750
17          War   755
18      Western   162
retired의 장르별 평점(rating)의 개수
          genre count
0       unknown     0
1        Action   278
2     Adventure   160
3     Animation    35
4    Children's   110
5        Comedy   512
6         Crime   137
7   Documentary    16
8         Drama   727
9       Fantasy    22
10    Film-Noir    43
11       Horror    66
12      Musical    93
13      Mystery    98
14      Romance   321
15       Sci-Fi   130
16     Thriller   309
17          War   145
18      Western    33
salesman의 장르별 평점(rating)의 개수
          genre count
0       unknown     0
1        Action   222
2     Adventure    99
3     Animation    15
4    Children's    38
5        Comedy   314
6         Crime    79
7   Documentary     2
8         Drama   317
9       Fantasy     9
10    Film-Noir    14
11       Horror    49
12      Musical    27
13      Mystery    40
14      Romance   166
15       Sci-Fi    98
16     Thriller   200
17          War    77
18      Western    16
scientist의 장르별 평점(rating)의 개수
          genre count
0       unknown     0
1        Action   566
2     Adventure   285
3     Animation    61
4    Children's   108
5        Comedy   535
6         Crime   177
7   Documentary    17
8         Drama   932
9       Fantasy    20
10    Film-Noir    39
11       Horror    70
12      Musical    91
13      Mystery   122
14      Romance   440
15       Sci-Fi   318
16     Thriller   469
17          War   255
18      Western    24
student의 장르별 평점(rating)의 개수
          genre count
0       unknown     1
1        Action  6398
2     Adventure  3358
3     Animation   914
4    Children's  1759
5        Comedy  6958
6         Crime  1836
7   Documentary   117
8         Drama  7777
9       Fantasy   352
10    Film-Noir   269
11       Horror  1340
12      Musical  1078
13      Mystery  1009
14      Romance  4156
15       Sci-Fi  3069
16     Thriller  5130
17          War  1770
18      Western   408
technician의 장르별 평점(rating)의 개수
          genre count
0       unknown     1
1        Action  1079
2     Adventure   558
3     Animation   132
4    Children's   221
5        Comedy  1056
6         Crime   275
7   Documentary    24
8         Drama  1295
9       Fantasy    38
10    Film-Noir    46
11       Horror   164
12      Musical   175
13      Mystery   177
14      Romance   645
15       Sci-Fi   531
16     Thriller   796
17          War   383
18      Western    89
writer의 장르별 평점(rating)의 개수
          genre count
0       unknown     1
1        Action  1292
2     Adventure   674
3     Animation   176
4    Children's   367
5        Comedy  1574
6         Crime   498
7   Documentary    46
8         Drama  2208
9       Fantasy    71
10    Film-Noir   125
11       Horror   454
12      Musical   272
13      Mystery   335
14      Romance  1007
15       Sci-Fi   671
16     Thriller  1304
17          War   445
18      Western    94

In [392]:
#B
#모든 유저에서 장르별 평점의 평균
list=df_data[['item id','rating']]
df_movie_id=list.groupby(['item id']).mean()
df_movie_id.index.name="movie id"

df_movie=df_item.loc[df_item['movie id'].isin(df_movie_id.index)]
df_movie=pd.merge(left=df_movie,right=df_movie_id,how="inner",on="movie id")
df_movie=df_movie.loc[:,'unknown':'rating']

genre_mean=[]

for i in range(0,19):
    list=df_movie[df_movie.iloc[:,i]=='1']
    genre_mean.append([genre[i],list['rating'].mean()])
df_genre_mean=pd.DataFrame(np.array(genre_mean),columns=['genre','rating'])
df_genre_mean

          genre              rating
0       unknown  2.2222222222222223
1        Action   2.966332403758986
2     Adventure  3.1439673136976105
3     Animation  3.2988130803823776
4    Children's   2.916884891868897
5        Comedy  3.0005649618406727
6         Crime  3.2110147495997547
7   Documentary   3.229273094093941
8         Drama  3.1873534142973314
9       Fantasy   2.849830297920943
10    Film-Noir  3.5483508757184237
11       Horror   2.730157352996138
12      Musical   3.376423123539873
13      Mystery   3.336813932383023
14      Romance  3.2440490301647995
15       Sci-Fi  3.1654460532512894
16     Thriller   3.136692475563836
17          War   3.489185428943569
18      Western   3.185617473056144

In [393]:
#여성의 장르별 평점의 평균
list=df_f_user[['item id','rating']]
list=list.groupby(['item id']).mean()
df_movie_id=list.groupby(['item id']).mean()
df_movie_id.index.name="movie id"

df_movie=df_item.loc[df_item['movie id'].isin(df_movie_id.index)]
df_movie=pd.merge(left=df_movie,right=df_movie_id,how="inner",on="movie id")
df_movie=df_movie.loc[:,'unknown':'rating']

genre_mean=[]

for i in range(0,19):
    list=df_movie[df_movie.iloc[:,i]=='1']
    genre_mean.append([genre[i],list['rating'].mean()])
df_genre_mean=pd.DataFrame(np.array(genre_mean),columns=['genre','rating'])
df_genre_mean

          genre              rating
0       unknown                 3.5
1        Action  2.9935561459202655
2     Adventure   3.164851369537942
3     Animation  3.2976560998431337
4    Children's   2.995654466581348
5        Comedy  3.0451038155811094
6         Crime   3.052135824869562
7   Documentary  3.2156042128603097
8         Drama   3.175328464924061
9       Fantasy   2.846441327783692
10    Film-Noir  3.3182509948250383
11       Horror   2.666238295675094
12      Musical  3.4752308193106956
13      Mystery  3.2599844031733123
14      Romance   3.239405121214742
15       Sci-Fi   3.103327650890686
16     Thriller  3.1607923637608435
17          War   3.340333798044547
18      Western   3.017120090136763

In [394]:
#남성의 장르별 평점의 평균
list=df_m_user[['item id','rating']]
list=list.groupby(['item id']).mean()
df_movie_id=list.groupby(['item id']).mean()
df_movie_id.index.name="movie id"

df_movie=df_item.loc[df_item['movie id'].isin(df_movie_id.index)]
df_movie=pd.merge(left=df_movie,right=df_movie_id,how="inner",on="movie id")
df_movie=df_movie.loc[:,'unknown':'rating']

genre_mean=[]

for i in range(0,19):
    list=df_movie[df_movie.iloc[:,i]=='1']
    genre_mean.append([genre[i],list['rating'].mean()])
df_genre_mean=pd.DataFrame(np.array(genre_mean),columns=['genre','rating'])
df_genre_mean

          genre              rating
0       unknown  2.2142857142857144
1        Action  3.0007545391247756
2     Adventure   3.096501075790117
3     Animation   3.261939869131573
4    Children's   2.837418246042919
5        Comedy  3.0197354082271715
6         Crime  3.3150493744988827
7   Documentary   3.329120563508786
8         Drama  3.2724094936912778
9       Fantasy   2.865777800487711
10    Film-Noir   3.729506953587752
11       Horror  2.7215771789943286
12      Musical  3.3256223532267275
13      Mystery  3.4217275045385556
14      Romance  3.2730908515790738
15       Sci-Fi     3.1651105314852
16     Thriller   3.170228996622724
17          War   3.575442736498437
18      Western  3.2949363121371555

In [395]:
#직업의 장르별 평점의 평균
for i in occupation:
    occ=df_user.loc[df_user['occupation']==i]
    df_occ=df_data.loc[df_data['user id'].isin(occ['user id'])]
    
    list=df_occ[['item id','rating']]
    df_movie_id=list.groupby(['item id']).mean()
    df_movie_id.index.name="movie id"

    df_movie=df_item.loc[df_item['movie id'].isin(df_movie_id.index)]
    df_movie=pd.merge(left=df_movie,right=df_movie_id,how="inner",on="movie id")
    df_movie=df_movie.loc[:,'unknown':'rating']
    #print(df_movie)

    genre_mean=[]

    for j in range(0,19):
        list=df_movie[df_movie.iloc[:,j]=='1']
        genre_mean.append([genre[j],list['rating'].mean()])
    df_genre_mean=pd.DataFrame(np.array(genre_mean),columns=['genre','rating'])
    print(i+"의 장르별 평점(rating)의 평균")
    print(df_genre_mean)

administrator의 장르별 평점(rating)의 평균
          genre              rating
0       unknown                 nan
1        Action  3.1604829441536713
2     Adventure  3.1314470675412123
3     Animation  3.3950619222047793
4    Children's  3.0324655338360444
5        Comedy  3.2277637462256945
6         Crime  3.3304850879495094
7   Documentary  3.8170653907496015
8         Drama  3.6281775801226472
9       Fantasy   3.472625413801884
10    Film-Noir   3.812592592592592
11       Horror  3.2074142599970434
12      Musical  3.5825411441357744
13      Mystery  3.7287949755490573
14      Romance  3.5865202255877375
15       Sci-Fi  3.3162403827201357
16     Thriller   3.392415662450151
17          War   3.814804328630334
18      Western    3.46212234734962
artist의 장르별 평점(rating)의 평균
          genre              rating
0       unknown                 nan
1        Action   3.311466125338077
2     Adventure   3.311818274318274
3     Animation  3.2851010101010103
4    Children's  3.0222992181947403
5        Comedy  3.2715900892037264
6         Crime   3.382490842490842
7   Documentary   4.201754385964912
8         Drama   3.537289908815588
9       Fantasy   3.398809523809524
10    Film-Noir   4.106498015873015
11       Horror   3.464431045145331
12      Musical   3.367232142857142
13      Mystery    3.53968253968254
14      Romance  3.4225927511641796
15       Sci-Fi  3.6196869488536154
16     Thriller   3.391667863726687
17          War   3.798210993799229
18      Western   3.590277777777778
doctor의 장르별 평점(rating)의 평균
          genre              rating
0       unknown                 nan
1        Action  3.5713615023474183
2     Adventure  3.5720720720720727
3     Animation  3.3055555555555554
4    Children's  3.4015151515151514
5        Comedy   3.509803921568628
6         Crime   3.756666666666667
7   Documentary  3.4583333333333335
8         Drama  3.7196557971014492
9       Fantasy                 3.0
10    Film-Noir                 4.2
11       Horror   3.452380952380952
12      Musical   3.590909090909091
13      Mystery                 4.0
14      Romance               3.625
15       Sci-Fi   3.420833333333333
16     Thriller  3.7066210045662107
17          War    4.11264367816092
18      Western                3.75
educator의 장르별 평점(rating)의 평균
          genre              rating
0       unknown                 3.0
1        Action   3.166765313372749
2     Adventure  3.2081564600830563
3     Animation    3.40350959272018
4    Children's  3.0392312672908446
5        Comedy  3.2614135107988953
6         Crime   3.367080411029357
7   Documentary  3.6436396936396935
8         Drama   3.591916177122552
9       Fantasy   3.227072310405644
10    Film-Noir  3.9839175775205184
11       Horror   2.362577160493827
12      Musical   3.500739656093901
13      Mystery   3.420687304046336
14      Romance   3.472400712784097
15       Sci-Fi  3.1723880555921635
16     Thriller  3.2205413844882886
17          War   3.734461463335599
18      Western   3.446220350530695
engineer의 장르별 평점(rating)의 평균
          genre              rating
0       unknown                 3.0
1        Action   3.046222864564747
2     Adventure   3.158463321224793
3     Animation   3.243824385230169
4    Children's  2.9091996748929607
5        Comedy  3.0214914656792504
6         Crime   3.406786737698392
7   Documentary  3.4269230769230767
8         Drama   3.409972506003761
9       Fantasy  3.0016777864992155
10    Film-Noir  3.6943681318681314
11       Horror  2.8170585872703566
12      Musical   3.277236997499691
13      Mystery  3.3544179393369076
14      Romance  3.3573596868238695
15       Sci-Fi   3.104467528907655
16     Thriller   3.205653014297371
17          War   3.461751949651982
18      Western   3.256707459207459
entertainment의 장르별 평점(rating)의 평균
          genre              rating
0       unknown                 4.0
1        Action  3.1162053571428574
2     Adventure   3.093715393133998
3     Animation  3.4294670846394983
4    Children's   2.816613658450393
5        Comedy  3.1192110013538588
6         Crime   3.466056083220262
7   Documentary            3.734375
8         Drama  3.4908142199404337
9       Fantasy  2.6516666666666664
10    Film-Noir             3.91875
11       Horror  3.0083536833536835
12      Musical   3.286458333333333
13      Mystery    3.39963768115942
14      Romance  3.3782206119162645
15       Sci-Fi  3.2759838738497273
16     Thriller    3.26485604634776
17          War   3.718575920934412
18      Western   3.444444444444444
executive의 장르별 평점(rating)의 평균
          genre              rating
0       unknown                 1.0
1        Action   3.055823180541318
2     Adventure   3.115372114269173
3     Animation   3.429532212885154
4    Children's    3.00590756302521
5        Comedy   2.778089097425149
6         Crime   2.990217122746534
7   Documentary                1.85
8         Drama  3.0028498949804714
9       Fantasy  2.6884920634920633
10    Film-Noir  3.7653361344537815
11       Horror   2.877388888888889
12      Musical   3.482866117622215
13      Mystery   3.517728937728938
14      Romance  3.0897505695463545
15       Sci-Fi   3.316440718933545
16     Thriller  3.2258523702151156
17          War  3.5948887654235246
18      Western   3.150226757369615
healthcare의 장르별 평점(rating)의 평균
          genre              rating
0       unknown                 nan
1        Action  2.6357660857660856
2     Adventure  2.5865411635148474
3     Animation  2.5780701754385964
4    Children's  2.3482371794871795
5        Comedy  2.4355535878263157
6         Crime  2.7547909407665503
7   Documentary   2.466666666666667
8         Drama    2.67612353347136
9       Fantasy   2.356140350877193
10    Film-Noir  2.9055555555555554
11       Horror  2.0128019323671498
12      Musical  3.0842451874366774
13      Mystery             2.84375
14      Romance   2.650515961003766
15       Sci-Fi   2.583123325087611
16     Thriller   2.746356065937347
17          War   2.839475108225108
18      Western  2.4537878787878786
homemaker의 장르별 평점(rating)의 평균
          genre              rating
0       unknown                 nan
1        Action   3.368055555555556
2     Adventure   3.351851851851851
3     Animation                 3.0
4    Children's  2.8166666666666664
5        Comedy  2.8671875000000004
6         Crime  3.2254901960784315
7   Documentary                 3.5
8         Drama   3.485323383084577
9       Fantasy  1.6666666666666667
10    Film-Noir  2.8333333333333335
11       Horror                3.05
12      Musical   2.642857142857143
13      Mystery  3.8525641025641026
14      Romance  3.4411764705882355
15       Sci-Fi  3.1555555555555554
16     Thriller  3.3022727272727277
17          War  3.4313725490196076
18      Western                 nan
lawyer의 장르별 평점(rating)의 평균
          genre              rating
0       unknown                 nan
1        Action  3.5049878345498784
2     Adventure  3.6770833333333335
3     Animation  3.6666666666666665
4    Children's  3.1923076923076925
5        Comedy    3.32990132990133
6         Crime   3.571565934065934
7   Documentary   4.138888888888889
8         Drama  3.6640591630591626
9       Fantasy                 3.0
10    Film-Noir   4.482142857142857
11       Horror   3.775675675675676
12      Musical  3.7013605442176867
13      Mystery  3.6161616161616164
14      Romance   3.718086883876358
15       Sci-Fi   3.382161458333333
16     Thriller  3.5970492470492466
17          War   3.829777777777778
18      Western    3.62037037037037
librarian의 장르별 평점(rating)의 평균
          genre              rating
0       unknown                 nan
1        Action   3.186661843978987
2     Adventure  3.1847303206111097
3     Animation   3.389312240047534
4    Children's   3.177716199996618
5        Comedy   3.218555101724286
6         Crime   3.316829975214523
7   Documentary  3.7017543859649122
8         Drama  3.4994014714403536
9       Fantasy   3.018315018315018
10    Film-Noir  3.7543209876543213
11       Horror  2.7741874527588815
12      Musical   3.306141759475093
13      Mystery   3.386289955844826
14      Romance  3.3763767707198666
15       Sci-Fi   3.195811646298975
16     Thriller   3.306713678763122
17          War  3.4462933253187487
18      Western   3.343039321789322
marketing의 장르별 평점(rating)의 평균
          genre              rating
0       unknown                 nan
1        Action  3.2145263029454214
2     Adventure    3.08637308458737
3     Animation  3.1353535353535356
4    Children's   2.851984126984126
5        Comedy  3.2271635610766047
6         Crime  3.1938620902906614
7   Documentary                 3.6
8         Drama  3.4282349806824963
9       Fantasy   3.166666666666666
10    Film-Noir  3.9588744588744587
11       Horror   3.278431372549019
12      Musical  3.2133333333333334
13      Mystery  3.5641906073724257
14      Romance  3.3338732415681807
15       Sci-Fi   3.359411511427641
16     Thriller   3.275045713404492
17          War  3.7737806991483454
18      Western  3.2714285714285714
none의 장르별 평점(rating)의 평균
          genre              rating
0       unknown                 5.0
1        Action  3.6231481481481485
2     Adventure  3.6655555555555552
3     Animation   4.028985507246377
4    Children's   3.775333333333333
5        Comedy  3.6765151515151513
6         Crime   3.568518518518519
7   Documentary                 4.0
8         Drama   3.974955908289242
9       Fantasy                 3.5
10    Film-Noir   3.444444444444444
11       Horror   3.706140350877193
12      Musical   3.852564102564102
13      Mystery  3.5277777777777777
14      Romance  3.9079545454545466
15       Sci-Fi  3.6954831932773105
16     Thriller   3.740875912408759
17          War   4.196212121212121
18      Western              3.4375
other의 장르별 평점(rating)의 평균
          genre              rating
0       unknown                 4.0
1        Action   3.179551841302131
2     Adventure   3.351390944626357
3     Animation  3.5551584084919194
4    Children's  3.2529214449181705
5        Comedy  3.1920344881389875
6         Crime  3.4319095098128805
7   Documentary                3.82
8         Drama  3.5506622458278607
9       Fantasy  3.3036335496861806
10    Film-Noir   3.808915343915344
11       Horror   2.816466615871048
12      Musical   3.520021247782528
13      Mystery  3.4641987722757728
14      Romance   3.484555220195898
15       Sci-Fi  3.1856360910882353
16     Thriller   3.338227757496889
17          War   3.797477309897674
18      Western   3.328109681372549
programmer의 장르별 평점(rating)의 평균
          genre              rating
0       unknown                 4.0
1        Action  3.1859513878943835
2     Adventure    3.16221353389269
3     Animation   3.305264117481312
4    Children's   2.903742541739947
5        Comedy   3.163120167123442
6         Crime   3.305362010285311
7   Documentary   3.481203007518797
8         Drama  3.4706760063500033
9       Fantasy  2.8171652421652422
10    Film-Noir  3.7498579545454542
11       Horror  2.8232725349281207
12      Musical  3.3407640946135757
13      Mystery  3.4759221051057785
14      Romance   3.361665542562572
15       Sci-Fi   3.294165803718017
16     Thriller  3.2828371137182217
17          War   3.660679739405621
18      Western  3.5245898569954295
retired의 장르별 평점(rating)의 평균
          genre              rating
0       unknown                 nan
1        Action  3.3324258391881347
2     Adventure  3.2418724279835387
3     Animation  3.5583333333333336
4    Children's   3.075641025641025
5        Comedy  3.3354158467794828
6         Crime  3.4298850574712643
7   Documentary  3.3636363636363638
8         Drama  3.4000319829424304
9       Fantasy   3.131944444444444
10    Film-Noir  3.9676470588235295
11       Horror   3.284848484848485
12      Musical   3.434959349593496
13      Mystery    3.62719298245614
14      Romance   3.336572128851541
15       Sci-Fi   3.382017543859649
16     Thriller   3.357125603864734
17          War   3.540694849368318
18      Western  3.1095238095238096
salesman의 장르별 평점(rating)의 평균
          genre              rating
0       unknown                 nan
1        Action    3.59453781512605
2     Adventure   3.667857142857143
3     Animation                 3.9
4    Children's  3.4382716049382713
5        Comedy  3.0177595628415292
6         Crime   3.729166666666667
7   Documentary                 4.0
8         Drama  3.9816151202749137
9       Fantasy  3.2142857142857144
10    Film-Noir  3.8333333333333335
11       Horror  3.2511494252873563
12      Musical  3.7456140350877187
13      Mystery   3.761904761904762
14      Romance  3.5928030303030307
15       Sci-Fi   3.496296296296296
16     Thriller  3.5447530864197536
17          War  3.9954166666666664
18      Western  3.9242424242424248
scientist의 장르별 평점(rating)의 평균
          genre              rating
0       unknown                 nan
1        Action   3.123858047871205
2     Adventure   3.192592035644667
3     Animation   3.586596736596737
4    Children's   3.304204545454546
5        Comedy  3.3030270058495863
6         Crime   3.535957296671582
7   Documentary              3.5625
8         Drama  3.6928503456656143
9       Fantasy             3.03125
10    Film-Noir  3.8828849721706864
11       Horror  3.1053639846743297
12      Musical  3.3986175115207375
13      Mystery   3.712240460157127
14      Romance  3.4555269127627626
15       Sci-Fi  3.2867228388065755
16     Thriller  3.3615682079710862
17          War   3.746892549479666
18      Western  3.5902777777777772
student의 장르별 평점(rating)의 평균
          genre              rating
0       unknown                 3.0
1        Action  3.1011226040019353
2     Adventure   3.207944151712823
3     Animation   3.452458315619955
4    Children's   3.017481081841401
5        Comedy  3.1920021600501443
6         Crime    3.44990066746131
7   Documentary  3.7700465774478933
8         Drama  3.4357364083475157
9       Fantasy   2.590014180660943
10    Film-Noir  3.6876458967172656
11       Horror  3.1246885440022347
12      Musical  3.3345686696668304
13      Mystery  3.5046577642030674
14      Romance  3.4491259153548492
15       Sci-Fi  3.2121684185844424
16     Thriller   3.301386445471176
17          War   3.633645148127199
18      Western    3.34269372805557
technician의 장르별 평점(rating)의 평균
          genre              rating
0       unknown                 4.0
1        Action  3.0862593015850024
2     Adventure  3.0747480339769706
3     Animation   3.418670576735093
4    Children's   2.873003848003848
5        Comedy  3.2417760735433148
6         Crime  3.4492017932316443
7   Documentary   4.119047619047619
8         Drama  3.6165256001390436
9       Fantasy  3.0534391534391534
10    Film-Noir   3.826984126984127
11       Horror  3.1580588111075913
12      Musical  3.4473867595818817
13      Mystery   3.782263503692075
14      Romance  3.5571268113837773
15       Sci-Fi  3.3542939982166957
16     Thriller   3.408897642040499
17          War   3.547373293152837
18      Western  3.3949999999999996
writer의 장르별 평점(rating)의 평균
          genre              rating
0       unknown                 1.0
1        Action  2.9607693945714773
2     Adventure  3.0844094832960387
3     Animation  3.3895197273486746
4    Children's  3.1232190271942115
5        Comedy  3.0678987738840693
6         Crime  3.2545902948309364
7   Documentary  3.7102240896358545
8         Drama   3.377055528009335
9       Fantasy  3.0933531746031746
10    Film-Noir  3.8672057880391213
11       Horror    2.62011646577823
12      Musical  3.2915309049924444
13      Mystery  3.5128631695102284
14      Romance  3.3586962964111655
15       Sci-Fi   3.015680959252387
16     Thriller   3.133079335294808
17          War   3.456200133620155
18      Western   3.234289784289784